//AngularJS
script(type='text/javascript', src='/lib/angular/angular.js')
script(type='text/javascript', src='/lib/angular-cookies/angular-cookies.js')
script(type='text/javascript', src='/lib/angular-ui-router/release/angular-ui-router.js')
script(type='text/javascript', src='/lib/angular-ui-router/release/angular-ui-router.min.js')

script(type='text/javascript', src='/lib/ng-file-upload/ng-file-upload.js')
script(type='text/javascript', src='/lib/ng-file-upload/ng-file-upload-all.js')
script(type='text/javascript', src='/lib/angular-resource/angular-resource.js')
script(type='text/javascript', src='/lib/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js')
//- script(type='text/javascript', src="http://code.jquery.com/jquery-1.11.0.min.js")

//Angular UI
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap.js')
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap-tpls.js')
script(type='text/javascript', src='/lib/angular-ui-utils/modules/route/route.js')

//Application Init
script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/config.js')
script(type='text/javascript', src='/js/directives.js')
script(type='text/javascript', src='/js/filters.js')

//Application Services
script(type='text/javascript', src='/js/services/global.js')
script(type='text/javascript', src='/js/services/articles.js')
script(type='text/javascript', src='/js/services/registrations.js')
script(type='text/javascript', src='/js/services/studios.js')
script(type='text/javascript', src='/js/services/courses.js')
script(type='text/javascript', src='/js/services/uploads.js')
script(type='text/javascript', src='/js/services/authenticate.js')
script(type='text/javascript', src='/js/services/students.js')
script(type='text/javascript', src='/js/services/courses.js')
script(type='text/javascript', src='/js/services/instructors.js')
script(type='text/javascript', src='/js/services/subjects.js')
script(type='text/javascript', src='/js/services/preferences.js')
script(type='text/javascript', src='/js/services/studentinstudio.js')
script(type='text/javascript', src='/js/services/studentincourse.js')
script(type='text/javascript', src='/js/services/studentmanagedcourse.js')
script(type='text/javascript', src='/js/services/tzs.js')
script(type='text/javascript', src='/js/services/assignments.js')

//Application Services
script(type='text/javascript', src='/js/controllers/articles.js')
script(type='text/javascript', src='/js/controllers/index.js')
script(type='text/javascript', src='/js/controllers/admin/RegistrationController.js')
script(type='text/javascript', src='/js/controllers/admin/CourseController.js')
script(type='text/javascript', src='/js/controllers/admin/InsertPreferencesController.js')
script(type='text/javascript', src='/js/controllers/users/ViewPreferencesController.js')
script(type='text/javascript', src='/js/controllers/users/EditPreferencesController.js')
script(type='text/javascript', src='/js/controllers/users/ViewAssignmentsController.js')
script(type='text/javascript', src='/js/controllers/users/StudentInCourseController.js')
script(type='text/javascript', src='/js/controllers/users/ViewDetailsController.js')
script(type='text/javascript', src='/js/controllers/users/ViewSylabusesController.js')
script(type='text/javascript', src='/js/controllers/admin/AdminHomeController.js')
script(type='text/javascript', src='/js/controllers/users/HomeController.js')
script(type='text/javascript', src='/js/controllers/admin/StudentsController.js')
script(type='text/javascript', src='/js/controllers/admin/StudioController.js')
script(type='text/javascript', src='/js/controllers/admin/InstructorController.js')
script(type='text/javascript', src='/js/controllers/admin/SubjectController.js')
script(type='text/javascript', src='/js/controllers/admin/CreateNewAssignmentController.js')
script(type='text/javascript', src='/js/controllers/header.js')
script(type='text/javascript', src='/js/controllers/users/auth.js')
script(type='text/javascript', src='/js/controllers/users/signIn.js')
script(type='text/javascript', src='/js/controllers/users/signUp.js')
script(type='text/javascript', src='/js/init.js')

//font-awesome
link(rel="stylesheet", href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css")


if (process.env.NODE_ENV == 'development')
    //Livereload script rendered 
    script(type='text/javascript', src='http://localhost:35729/livereload.js')
