<div class="navbar-inner" data-ng-controller="HeaderController">
    <ul class="nav pull-right">
        <li>
            <a class="brand"  ng-click = "redirect()" style="padding: 9px; color: white;font-size: 25px;padding-top: 20px;;cursor:pointer">הפקולטה לארכיטקטורה ובינוי ערים - טכניון</a>
        </li>
       <li>
           <!--<i class="fa fa-braille" style = "font-size: 30px; color: grey; padding: 5px" aria-hidden="true"></i>-->
           <img src="img/icons/Eng_Ver_Blue-Recovered1.png" style="height: 50px;padding-bottom: 5px;padding-top: 5px">
       </li>
       <!--<li data-ng-repeat="item in menu" data-ng-show="global.user" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>-->
    </ul>
    <ul class="nav pull-right" data-ng-show="global.authenticated" style="font-size: 15px;padding-top: 12px;">
        
        <!--USERS-->

        <!--<li><a ui-sref="InsertPref">Insert Preferences</a></li>-->
        <li class="dropdown " ng-show="!global.user.IsAdmin">
            <a class="dropdown-toggle" data-toggle="dropdown" style="color: white;cursor:pointer">
				ניהול העדפות <b class="caret"></b>
			</a>
            <ul class="dropdown-menu">
                <li><a ui-sref="InsertPref">הזנת העדפות</a></li>
                <li><a ui-sref="ViewPref">צפייה בהעדפות קודמות</a></li>
                <li><a ui-sref="ViewAssignments">צפייה בשיבוצים</a></li>
            </ul>
        </li>
        <!--Degree calculator-->
        <li><a ui-sref="StudCourse" ng-show="!global.user.IsAdmin" style="color: white;">מילוי טופס גמר</a></li>

        <!--View Sylabuses-->
        <li><a ui-sref="ViewSylab" ng-show="!global.user.IsAdmin" style="color: white;">צפייה בסילבוסים</a></li>

        <!--ADMIN-->

        <!--Registration-->
        <li><a ui-sref="ViewReg" ng-show="global.user.IsAdmin" style="color: white;">ניהול הרשמה</a></li>

        <!--User managment-->
        <li class="dropdown" ng-show="global.user.IsAdmin">
            <a class="dropdown-toggle" data-toggle="dropdown" style="color: white;cursor:pointer">
				  סטודנטים <b class="caret"></b>
			</a>
            <ul class="dropdown-menu">
                <!--<li><a ui-sref="OpenReg">Add Users</a></li>-->
                <li><a ui-sref="ViewStud">צפה/ערוך סטודנט</a></li>
                <li><a ui-sref="UpStud">טען סטודנטים חדשים</a></li>
            </ul>
        </li>


        <!--Assignment  managment-->
        <li class="dropdown" ng-show="global.user.IsAdmin">
            <a class="dropdown-toggle" data-toggle="dropdown" style="color: white;color: white;cursor:pointer">
				  שיבוץ <b class="caret"></b>
			</a>
            <ul class="dropdown-menu">
                <!--<li><a ui-sref="OpenReg">View past assignments</a></li>-->
                <li><a ui-sref="CreateNewAssignment">יצירת שיבוץ חדש</a></li>
                <li><a ui-sref="ViewPreviousAssignment">צפייה בשיבוצים קודמים</a></li>
            </ul>
        </li>

        <!--Studio managment-->
        <li class="dropdown" ng-show="global.user.IsAdmin">
            <a class="dropdown-toggle" data-toggle="dropdown" style="color: white;cursor:pointer">
				קבוצות סטודיו <b class="caret"></b>
			</a>
            <ul class="dropdown-menu">
                <li><a ui-sref="ViewStudio">הוסף/הסר סטודיו</a></li>
                <li><a ui-sref="ViewInstr">מנחים</a></li>
                <li><a ui-sref="ViewSubj">נושאי סטודיו</a></li>            
            </ul>
        </li>

        <!--Course managment-->
        <li class="dropdown" ng-show="global.user.IsAdmin">
            <a class="dropdown-toggle" data-toggle="dropdown" style="color: white;cursor:pointer">
				קורסים <b class="caret"></b>
			</a>
            <ul class="dropdown-menu">
                <li><a ui-sref="ViewCourse">נהל קורסי טופס גמר</a></li>
            </ul>
        </li>

    </ul>
    
    <ul class="nav pull-left" data-ng-show="global.authenticated" style="padding-top: 12px;">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" style="color: white;cursor:pointer">
				 {{global.user.FirstName}} <b class="caret"></b> 
			</a>
            <ul class="dropdown-menu">
                <li><a ng-click="SignOut()">התנתק</a>
                </li>
                <li><a ui-sref="ViewDetails">שינוי פרטים</a>
                </li>
            </ul>
        </li>
    </ul>
</div>