<div class="navbar-inner" data-ng-controller="HeaderController">
    <ul class="nav">
       <li>
           <i class="fa fa-braille" style = "font-size: 30px; color: grey; padding: 5px" aria-hidden="true"></i>
       </li>
        <li>
            <a class="brand" ui-sref="home" style="padding: 9px; color: grey">Architecture Data System</a>
           <p></p>
        </li>
        <!--<li data-ng-repeat="item in menu" data-ng-show="global.user" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>-->
    </ul>
    <ul class="nav pull-left" data-ng-show="global.authenticated">
        <!--<li><a ui-sref="SignUp">Signup</a>
        </li>
        <li class="divider-vertical"></li>
        <li><a ui-sref="SignIn">Signin</a>-->
        

        <!--USERS-->

        <!--Insert Preferences-->

        <!--Insert assigment requests-->

        <li><a ui-sref="InsertPref">Insert Preferences</a></li>
        
        <!--Degree calculator-->
        <li><a ui-sref="DegCalc">Degree Calculator</a></li>

        <!--ADMIN-->

        <!--Registration-->
        <li class="dropdown"> 
            <a class="dropdown-toggle" data-toggle="dropdown" style="cursor:pointer">
				Registration Managment <b class="caret"></b>
			</a>
            <ul class="dropdown-menu">
                <li><a ui-sref="OpenReg">Open Registration</a></li>
                <li><a ui-sref="ViewReg">View Registration</a></li>
            </ul>
        </li>

        <!--User managment-->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" style="cursor:pointer">
				Student Managment <b class="caret"></b>
			</a>
            <ul class="dropdown-menu">
                <!--<li><a ui-sref="OpenReg">Add Users</a></li>-->
                <li><a ui-sref="ViewStud">View/Edit Student Info</a></li>
                <li><a ui-sref="UpStud">Upload new student</a></li>
            </ul>
        </li>


        <!--Assignment  managment-->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" style="cursor:pointer">
				Assignment Managment <b class="caret"></b>
			</a>
            <ul class="dropdown-menu">
                <li><a ui-sref="OpenReg">View past assignments</a></li>
                <li><a ui-sref="OpenReg">Create new assignment</a></li>
                <li><a ui-sref="OpenReg">Edit existing assignment</a></li>
            </ul>
        </li>

        <!--Studio managment-->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" style="cursor:pointer">
				Studio Managment <b class="caret"></b>
			</a>
            <ul class="dropdown-menu">
                <li><a ui-sref="ViewStudio">Add/Remove Studio</a></li>
            </ul>
        </li>

        <!--Course managment-->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" style="cursor:pointer">
				Course Managment <b class="caret"></b>
			</a>
            <ul class="dropdown-menu">
                <li><a ui-sref="ViewCourse">Add/Remove Courses</a></li>
            </ul>
        </li>

    </ul>
    
    <ul class="nav pull-right" data-ng-show="global.authenticated">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" style="cursor:pointer">
				{{global.user.firstname}} <b class="caret"></b>
			</a>
            <ul class="dropdown-menu">
                <li><a ng-click="SignOut()">Signout</a>
                </li>
            </ul>
        </li>
    </ul>
</div>