
<div>
	<br>
		<p style = "font-size:1.4em">החלפת סיסמא</p>
		<hr>
</div>
<span ng-controller="signIn">
    <br>
    
    <form ng-submit="signIn(user)" class="signin form-horizontal" name="signInForm" style="width: 580px;">

        <div class="control-group">
            <label for="password" class="col-md-4 control-label" style="float: right; font-size:18px;  width: 250px;">הזן סיסמא חדשה</label>
            <div class="col-md-4">
                <input id="password" style="margin-right: -100px;" type="password" name="password" placeholder="סיסמא" ng-model="user.password" required>
            </div>
        </div>
      <div class="control-group">
            <label for="password" class="col-md-4 control-label" style="float: right; font-size:18px;width: 250px;">הזן בשנית</label>
            <div class="col-md-4">
                <input id="password" style="margin-right: -100px;" type="password" name="password" placeholder="סיסמא" ng-model="user.passwordtwo" required>
            </div>
        </div>
        <span class="input-group-btn">
        <button type="button" class="btn btn-success" ng-click="changepass()"> שמור</button>
      </span>
    <p class="alert alert-danger text-white" style="font-size:large" ng-show="sent == true" >{{"הסיסמא אינה זהה בשני השדות"}}</p>

    </form>
    
    <!--<form ng-submit="signIn(user)" class="signin form-horizontal" name="signInForm" style="width: 580px;">
        <div class="control-group;col-md-12" >
            <label for="email" class="col-md-4 control-label" style="float: right; font-size:18px;padding-left: 20px;width: 300px;">הזן את כתובת הדוא"ל שלך: </label>
            
            <div class="col-md-4" >
                <input id="email"  style="margin-right: -100px;" type="email" name="email" placeholder="דואר אלקטרוני" ng-model="user.email" required>
            </div>
        </div>
        <div class="control-group ;col-md-12">
			<div class="controls">
				<input type="submit" class="btn btn-success"  value="שלח">
			</div>
		</div>
    </form>-->
</span>
