
<div>
	<br>
		<p style = "font-size:1.4em">החלפת סיסמא</p>
		<hr>
</div>
    <br>
    
    <form  class="signin form-horizontal" style="width: 580px;" ng-submit="changepass()">

        <div class="control-group">
            <label for="password" class="col-md-4 control-label" style="float: right; font-size:18px;  width: 250px;">הזן סיסמא חדשה</label>
            <div class="col-md-4">
                <input id="password" style="margin-right: -100px;" type="password" name="password" placeholder="סיסמא" ng-model="password" required>
            </div>
        </div>
      <div class="control-group">
            <label for="password" class="col-md-4 control-label" style="float: right; font-size:18px;width: 250px;">הזן בשנית</label>
            <div class="col-md-4">
                <input id="password" style="margin-right: -100px;" type="password" name="password" placeholder="סיסמא" ng-model="passwordtwo" required>
            </div>
        </div>
        <button type="submit" class="btn btn-success" > שמור</button>

    </form>
    
    <p class="alert alert-danger text-white" style="font-size:1.2em" ng-if="show" >{{message}}</p>
