<section ng-show="status == null">
	<form class="form-horizontal" data-ng-submit="addCourse()">
	<br>
		<p style = "font-size:20px" >Add Course</p>
		<hr>
		<div class="control-group">
			<label class="control-label" for="coursename">Course Name</label>
			<div class="controls">
				<input type="string" data-ng-model="coursename" id="coursename" required>
			</div>
    </div>
    <div class="control-group">
			<label class="control-label" for="coursenumber">Course Number</label>
			<div class="controls">
				<input type="integer" data-ng-model="coursenumber" id="coursenumber" required>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="creditpoints" >Credit Points</label>
			<div class="controls">
				<input type="integer" data-ng-model="creditpoints" "id="creditpoints"  required>
				</select>
			</div>
		</div>
 	 <div class="control-group">
			<label class="control-label" for="grade" >Grade</label>
			<div class="controls">
				<input type="integer" data-ng-model="grade" "id="grade"  required>
				</select>
			</div>
		</div>   
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
			</div>
		</div>
	</form>
</section>

<section><br><p ng-show="status != null"> <i class="fa fa-check-circle-o green" style = "font-size:20px" aria-hidden="true"></i> {{status}} </p></section>	  



	<br>
		<p style = "font-size:20px">DegreeCalculator</p>
		<hr>
</div>
<i class="fa fa-spinner fa-spin fa-3x fa-fw" ng-show = "showcors == false"></i>

<div id = "courses" ng-show = "showcors == true">
   <table class = "table">
      <thead>
         <tr>
            <th>Course Name</th>
            <th>Course Number</th>
            <th>Credit Points</th>
            <th>Grade</th>
            <th></th>
            <th></th>
         </tr>
      </thead>
     <tbody ng-repeat="cors in courses">
        <tr>
        <td>{{cors.coursename}}</td>
        <td>{{cors.coursenumber}}</td>
        <td>{{cors.creditpoints}}</td>
        <td>{{cors.grade}}</td>
       
        <td><a class="btn btn-default btn-sm"><i class="fa fa-pencil"></i> Edit</a></td>
        <td><a class="btn btn-danger" ng-click=remove(cors)><i class="fa fa-trash-o fa-lg"></i> Delete</a></td>
        </tr>
     </tbody>

   </table>

</div>
</section>


