<section ng-show = "doneInsert == false">
	<p class ="alert alert-info" ng-show = "!RegOpen" style = "font-size:20px" >ההרשמה נסגרה ולא ניתן לערוך העדפות כעת.</p>
	<!--<p style = "font-size:20px" ng-show="NotValid == true">You are not authorized to insert preferetions since you did not finish your graduation form. If you are eligible please do so now, otherwize please contact the faculty authoroties to address the issue.</p>-->
	<!--<p style = "font-size:20px" ng-show="NotValid == true">אינך מורשה להזין העדפות כיוון שלא סיימת את טופס הגמר שלך. אם סיימת את חובותיך אנא מלא אותו עכשיו, אחרת, פנה לנציגות הפקולטה להמשך בירור.</p>-->
	<div>
	<form ng-show = "RegOpen" class="form" data-ng-submit="updatePreferences()">
		<p style = "font-size:1.5em" >הזנת העדפות</p>
		<p style = "font-size:1em" >הזן מחדש את העדפותיך ולחץ "שמור"</p>
		<hr>
				<div style ="margin-bottom: 10px;" ng-repeat="(modelIndex, itemValue) in studios track by modelIndex">
					{{$index +1 + "."}}
				<select style="margin-right: 20px;"
						ng-model="data[modelIndex]"
						ng-options="item.Name for item in $parent.studios | arrayDiffedit:data:data[modelIndex]">
						<option value="">בחר העדפה...</option>
				</select>
				</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn btn-success"  value="שמור">
			</div>
		</div>
	</form>
	</div>
	</section>

<section ng-show = "doneInsert == true">
	<p class = "alert alert-success"> {{message}} </p>
	<a ui-sref="ViewPref">צפייה בהעדפות שהוזנו</a>
</section> 


