<section data-ng-init="findOne()">
    <p style = "font-size:20px" >Edit Course</p>
    <hr>
	<form class="form-horizontal" data-ng-submit="update()">
		<div class="control-group">
			<label class="control-label" for="coursename">Course Name</label>
			<div class="controls">
				<input type="string" data-ng-model="coursename" id="coursename" required>
			</div>
    </div>
    <div class="control-group">
			<label class="control-label" for="coursenumber">Course Number</label>
			<div class="controls">
				<input type="integer" data-ng-model="coursenumber" id="coursenumber" required>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="creditpoints" >Credit Points</label>
			<div class="controls">
				<input type="integer" data-ng-model="creditpoints" "id="creditpoints"  required>
				</select>
			</div>
		</div>
 	 <div class="control-group">
			<label class="control-label" for="grade" >Grade</label>
			<div class="controls">
				<input type="integer" data-ng-model="grade" "id="grade"  required>
				</select>
			</div>
		</div>   
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
			</div>
		</div>
	</form>
</section>