
<div>
	<br>
		<p style = "font-size:1.4em">החלפת סיסמא</p>
		<hr>
</div>
<span >
    <br>
    <form ng-submit="sendemail()">
    <label class="col-lg-3 control-label" style="font-size:1.2em">הזן את כתובת הדוא"ל שלך ולחץ "שלח": </label>
    <div class="input-group;row">
      <div class="col-md-6">
      <span class="spinner-huge-wave-out" style="width: 20px;height: 20px;margin-left: 580px;margin-top: 13px;" ng-if="sending" ></span>
      </div>
      <div class="col-md-6">
        <input id="email"  style="margin-left: 30px;margin-top: 12px;" type="email" name="email" placeholder="דואר אלקטרוני" ng-model="email" required/>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-success"  value="שלח"> שלח</button>
        </span>
      </div>
    </div>
    </form>

    <p class="alert alert-success text-white" style="font-size:1.2em" ng-if="show" >ההודעה נשלחה בהצלחה</p>
    <p class="alert alert-danger text-white" style="font-size:1.2em" ng-if="error" >התרחשה שגיאת בעת שליחת הדוא"ל. אנא וודא כי הזנת את הכתובת הנכונה</p>

</span>
