
<div>
	<br>
		<p style = "font-size:1.4em">החלפת סיסמא</p>
		<hr>
</div>
<span ng-controller="signIn">
    <br>
    <label class="col-lg-3 control-label" style="font-size:1.2em">הזן את כתובת הדוא"ל שלך ולחץ "שלח": </label>
    <div class="col-lg-8">
    <form>
    <div class="input-group">
      <input id="email"  style="margin-left: 30px;margin-top: 12px;" type="email" name="email" placeholder="דואר אלקטרוני" ng-model="user.email" required/>
      <span class="input-group-btn">
        <button type="button" class="btn btn-success" ng-click="sendemail()" value="שלח"> שלח</button>
      </span>
    </div>
    </form>
    <p class="alert alert-success text-white" style="font-size:large" ng-show="sent == true" >{{"ההודעה נשלחה בהצלחה"}}</p>

</span>
