
<!--<span ng-include="'../views/users/auth.html'"></span>-->
<html>
<body style="background-color:gray">
 <div id="banner" ></div>
  <div id="main">
    <div id="content_header"></div>
    <div id="site_content">
	  <div id="sidebar_container">
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item" style="padding-bottom: 50px; height: 200px; text-align: center;">
            <!-- insert your sidebar items here -->
            <h3 style="text-align: center;">הרשמה לקורסים ולקבוצות סטודיו</h3>
            <h4 ng-model="isregistrationopen" style="padding-top: 20px;">{{isregistrationopen}}</h4>
            <p><br /><a href="insertpreferences">להזנת ההעדפות</a></p>
          </div>
          <div class="sidebar_base"></div>
        </div>
      </div>
      <div id="content" style="text-align:right">
        <!-- insert the page content here -->
        <h1>ברוכים הבאים </h1>
        <p>באתר זה באפשרותך להזין העדפות שיבוץ, לצפות בשיבוצי עבר, לצפות במידע על קבוצות הסטודיו ולמלא את טופס הגמר.</p>

        <h3 style="text-align:right">מידע על קבוצות הסטודיו</h3>
          <p>למידע נוסף על קבוצות הסטודיו ועל התוכן הנלמד בהן ניתן לצפות בסילבוס הקורס.</p>
          <p><a href="ViewSylabuses">לצפייה בסילבוסים של קבוצות הסטודיו</a></p>

        <h3 style="text-align:right">הזנת העדפות שיבוץ</h3>
          <p>בלשונית ניהול העדפות עומדים ברשותך 3 אפשרויות: </p>
          <p><b>הזנת העדפות-</b> רק כאשר תקופת ההרשמה פתוחה ניתן למלא את העדפות השיבוץ לקבוצות הסטודיו שרלוונטיות לשנת הלימודים שהינך נמצא\ת בה. באפשרותך לראות את סטטוס ההרשמה בחלון השמאלי שבמסך. </p>
          <p> <u> חשוב לזכור!</u> ניתן להזין העדפות פעם אחת בלבד ולא ניתן לשנותן לאחר מכן, לכן תזינו את העדפותיכם רק כאשר הינכם בטוחים בהן.</p>
          <p><b>צפייה בהעדפות קודמות-</b> במידה וכבר הזנתם את העדפותיכם לסמסטר הקרוב תוכלו להיכנס ולראות אותן.  </p>
          <p><b>צפייה בשיבוצים-</b> במידה ותקופת ההרשמה הסתיימה והשיבוץ נעשה יופיע השיבוץ שלכם בדף זה. כמו כן, יופיעו גם שיבוצים קודמים אם כבר נעשו.</p>

         <h3 style="text-align:right">מילוי טופס גמר</h3>
          <p>באפשרותך להיכנס בכל זמן ולמלא את הקורסים שלקחת במהלך שנת הלימודים הנוכחית.<u> סטודנטים שמגיעים לשנה חמישית מחויבים </u>להיכנס לטופס הגמר ולמלא את כל השדות הנדרשים בכדי שיוכלו להשתבץ לפרויקט הגמר.</p>

        <h3 style="text-align:right">תמיכה טכנית</h3>
          <p>אנא פנה לנציגות הפקולטה או למעבדת המחשבים לעזרה.</p>
      </div>
    </div>
  </div>
</body>
</html> 
</span>  