
<!--<span ng-include="'../views/users/auth.html'"></span>-->
<html>
<body style="background-color:gray">
 <div id="banner" ></div>
  <div id="main">
    <div id="content_header"></div>
    <div id="site_content">
	  <div id="sidebar_container">
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <!-- insert your sidebar items here -->
            <h3 style="text-align: center;">הרשמה לקורסים ולקבוצות סטודיו</h3>
            <h4>ההרשמות הפעילות כרגע עבור</h4>
            <h5>February 1st, 2014</h5>
            <p><br /><a href="insertpreferences">להזנת ההעדפות</a></p>
          </div>
          <div class="sidebar_base"></div>
        </div>
      </div>
      <div id="content" style="text-align:right">
        <!-- insert the page content here -->
        <h1>ברוכים הבאים </h1>
        <p> זהו אתר המאפשר לך להזין העדפות שיבוץ, לצפות בשיבוצי עבר ולמלא טופס גמר</p>
        <p>אנא פנה לנציגות הפקולטה או למעבדת המחשבים לעזרה</p>
       <p><br /><a href="#">מדריך למשתמש</a></p>
        <h2 style="text-align:right">מידע נוסף</h2>
          <p>למידע נוסף על קבוצות הסטודיו ועל התוכן הנלמד בהם ניתן לצפות בסילבוס הקורס</p>
          <p><br /><a href="#">למידע נוסף על קבוצות הסטודיו</a></p>
      </div>
    </div>
  </div>
</body>
</html> 
</span>  