<span ng-include="'../views/users/auth.html'"></span>


<head>
	<link rel="stylesheet",  href="../../lib/accessibility-buttons/dist/css/accessibility-buttons.css"> 
</head>

<body>
  <div id="main">
    <div id="content_header"></div>
      <div id="banner"></div>
	  <div id="sidebar_container">
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <!-- insert your sidebar items here -->
            <h3>ברוכים הבאים</h3>
            <h4>זהו אתר המאפשר לך להזין העדפות שיבוץ, לצפות בשיבוצי עבר ולמלא טופס גמר</h4>
            <p>בהינתן ונתקלת בבעיות כלשהן, אנא פנה לנציגות הפקולטה או למעבדת המחשבים לעזרה<br /><a href="#">מדריך למשתמש</a></p>
          </div>
          <div class="sidebar_base"></div>
        </div>
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3>להלן סילבוסים של קבוצות סטודיו נבחרות:</h3>
            <ul>
              <li><a href="#">סטודיו 1</a></li>
              <li><a href="#">סטודיו 2</a></li>
              <li><a href="#">סטודיו 3</a></li>
              <li><a href="#">סטודיו 4</a></li>
            </ul>
          </div>
          <div class="sidebar_base"></div>
        </div>
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3>חיפוש</h3>
            <form method="post" action="#" id="search_form">
              <p>
                <input class="search" type="text" name="search_field" value="הכנס מילות מפתח..." />
                <!--<input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;"  alt="Search" title="Search" />-->
              </p>
            </form>
          </div>
          <div class="sidebar_base"></div>
        </div>
      </div>
      <div id="content">
        <!-- insert the page content here -->
        <h1>הסבר קצר על המערכת:</h1>
        <p>This standards compliant, simple, fixed width website template is released as an 'open source' design (under a <a href="http://creativecommons.org/licenses/by/3.0">Creative Commons Attribution 3.0 Licence</a>), which means that you are free to download and use it for anything you want (including modifying and amending it). All I ask is that you leave the 'design from HTML5webtemplates.co.uk' link in the footer of the template, but other than that...</p>
        <p>This template is written entirely in <strong>HTML5</strong> and <strong>CSS</strong>, and can be validated using the links in the footer.</p>
        <p>You can view more free HTML5 web templates <a href="http://www.html5webtemplates.co.uk">here</a>.</p>
        <p>This template is a fully functional 5 page website, with an <a href="examples.html">examples</a> page that gives examples of all the styles available with this design.</p>
        <h2>המלצות שימוש:</h2>
        <!--<p>המלצות שימוש:</p>-->
        <ul>
          <li>הדפדפן המועדף הינו Chrome</li>
          <li>נכון לגרסה זו של המערכת לא ישלח מייל המודיע על שיבוץ סופי</li>
          <li>Google Chrome 31</li>
        </ul>
      </div>
  </div>
  <script src="../../lib/accessibility-buttons/dist/js/accessibility-buttons.js"></script>
  <script>accessibilityButtons();</script>
</body>
</span>  

