<section>
	<form class="form-horizontal" >
	<br>
		<p style = "font-size:20px" >Insert Assignment prefernces</p>
		<hr>
		<div class="control-group">
			<label class="control-label" for="options" id="op1">1.</label>
			<div class="controls">
				<select type="string" data-ng-model="firstOption" required>
                    <option value="" disabled selected>Select your option...</option>
					<option value="a">Studio 1</option>
					<option value="b">Studio 2</option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="options" id="op2">2.</label>
			<div class="controls">
				<select type="string" data-ng-model="secondOption" required>
                    <option value="" disabled selected>Select your option...</option>
					<option value="c">Studio 1</option>
					<option value="d">Studio 2</option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
				<a href="">View preferences</a>
			</div>
		</div>
	</form>
</section> 