<div ng-include="'../views/users/auth.html'"></div>
<div ng-controller="signUp">
    <form ng-submit="signUp(user)"  class="signup form-horizontal">
        <div class="control-group">
            <label for="id" class="control-label">ID</label>
            <div class="controls">
                <input id="id" type="text" name="id" placeholder="ID" ng-model="user.id" required>
            </div>
        </div>
        <div class="control-group">
            <label for="name" class="control-label">First name</label>
            <div class="controls">
                <input id="firstname" type="text" name="firstname" placeholder="First name" ng-model="user.firstname" required>
            </div>
        </div>
        <div class="control-group">
            <label for="lastname" class="control-label">Last name</label>
            <div class="controls">
                <input id="lastname" type="text" name="lastname" placeholder="Last name" ng-model="user.lastname" required>
            </div>
        </div>
        <div class="control-group">
            <label for="email" class="control-label">Email</label>
            <div class="controls">
                <input id="email" type="text" name="email" placeholder="Email" ng-model="user.email" required>
            </div>
        </div>
        <div class="control-group">
            <label for="password" class="control-label">Password</label>
            <div class="controls">
                <input id="password" type="password" name="password" placeholder="Password" ng-model="user.password" required>
            </div>
        </div>
        <!--<div class="control-group">
            <label for="name" class="control-label">Full name</label>
            <div class="controls">
                <input id="name" type="text" name="name" placeholder="Full name" ng-model="user.name" required>
            </div>
        </div>-->
        <!--added-->
        <div class="control-group">
            <label for="gender" class="control-label">Gender</label>
            <div class="controls"  required>
                <!--<input id="gender" type="password" name="gender" placeholder="Gender" ng-model="user.gender" required>-->
                <input type="radio" ng-model="user.gender" name="gender" value="male" > Male<br>
                <input type="radio" ng-model="user.gender" name="gender" value="female" checked> Female<br>
            </div>
        </div>
        <div class="control-group">
            <!--<label for="currentyear" class="control-label">Current Year</label>
            <div class="controls">
                <input id="currentyear" type="password" name="currentyear" placeholder="Current Year" ng-model="user.currentyear" required>
            </div-->
            
            <label class="control-label" for="currentyear" id="currentyear">Current Year</label>
			<div class="controls">
				<select type="string" data-ng-model="user.currentyear" required>
					<option value="3">3</option>
                    <option value="4">4</option>
					<option value="5">5</option>
				</select>
			</div>
            <br>
            <div class="control-group">
                <label for="generalaverage" class="control-label">General Average</label>
                <div class="controls">
                    <input id="generalaverage" type="number" step="any" name="generalaverage" placeholder="General Average" ng-model="user.generalaverage" required>
                </div>
            </div>
            <div class="control-group">
                <label for="laststudiograde" class="control-label">Last Studio Grade</label>
                <div class="controls">
                    <input id="laststudiograde" type="number" step="any" name="laststudiograde" placeholder="Last Studio Grade" ng-model="user.laststudiograde" required>
                </div>
            </div>
        </div> 
        <!--added-->
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Sign up&nbsp;</button>or&nbsp;<a ui-sref="SignIn" class="show-login">login</a>
        </div>
    </form>
</div>