
<span ng-include="'../views/users/auth.html'"></span>
<span ng-controller="signIn">
    <br>
    <form ng-submit="signIn(user)" class="signin form-horizontal" name="signInForm" style="width: 580px;">
        <div class="control-group" >
            <label for="email" class="col-md-4 control-label" style="float: right; font-size:1em">דוא"ל</label>
            
            <div class="col-md-4" >
                <input id="email"  style="margin-right: -100px;" type="email" name="email" placeholder="דואר אלקטרוני" ng-model="user.email" required>
            </div>
        </div>
        <div class="control-group">
            <label for="password" class="col-md-4 control-label" style="float: right; font-size:1em">סיסמא</label>
            <div class="col-md-4">
                <input id="password" style="margin-right: -100px;" type="password" name="password" placeholder="סיסמא" ng-model="user.password" required>
            </div>
        </div>
        <div class="form-actions" style="width: 580px;font-size:1em">
            <button type="submit" class="btn btn-primary" style="font-size:1em">הכנס&nbsp;</button>
       <div ng-if = "!IsOk">
          <p style = "color: red">משתמש לא קיים במערכת או סיסמא שגויה</p>
       </div>
        <div class="form-actions" style="width: 580px;font-size:18px">
            <button type="submit" class="btn btn-primary" style="font-size:18px">הכנס&nbsp;</button>
            או&nbsp;<a ui-sref="SignUp" class="show-signup">הירשם</a>
            <!--yana implement-->
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="" class="show-signup">שכחת את הסיסמא?</a>
        </div>
    </form>
</span>
