<div ng-include="'../views/users/auth.html'"></div>
<div ng-controller="signUp">
    <form ng-submit="signUp(user)"  class="signup form-horizontal">
       <br>
        <div class="control-group">
            <label for="id" style="float:right" class="control-label">ת"ז</label>
            <div class="controls">
                <input id="id" type="text" name="id" placeholder="ת''ז" ng-model="user.id" required>
            </div>
        </div>
        <div class="control-group">
            <label for="name" style="float:right" class="control-label">שם פרטי</label>
            <div class="controls">
                <input id="firstname" type="text" name="firstname" placeholder="שם פרטי" ng-model="user.firstname" required>
            </div>
        </div>
        <div class="control-group">
            <label for="lastname" style="float:right" class="control-label">שם משפחה</label>
            <div class="controls">
                <input id="lastname" type="text" name="lastname" placeholder="שם משפחה" ng-model="user.lastname" required>
            </div>
        </div>
        <div class="control-group">
            <label for="email" style="float:right" class="control-label">דוא"ל</label>
            <div class="controls">
                <input id="email" type="email" name="email" placeholder="דוא''ל" ng-model="user.email" required>
            </div>
        </div>
        <div class="control-group">
            <label for="password" style="float:right" class="control-label">סיסמא</label>
            <div class="controls">
                <input id="password" type="password" name="password" placeholder="סיסמא" ng-model="user.password" required>
            </div>
        </div>
        <!--<div class="control-group">
            <label for="name" class="control-label">Full name</label>
            <div class="controls">
                <input id="name" type="text" name="name" placeholder="Full name" ng-model="user.name" required>
            </div>
        </div>-->
        <!--added-->
        <div class="control-group">
            <label for="gender" style="float:right" class="control-label">מין</label>
            <div class="controls"  required>
                <!--<input id="gender" type="password" name="gender" placeholder="Gender" ng-model="user.gender" required>-->
                <input type="radio" ng-model="user.gender" name="gender" value="male" > זכר<br>
                <input type="radio" ng-model="user.gender" name="gender" value="female" checked> נקבה<br>
            </div>
        </div>
        <div class="control-group">
            <!--<label for="currentyear" class="control-label">Current Year</label>
            <div class="controls">
                <input id="currentyear" type="password" name="currentyear" placeholder="Current Year" ng-model="user.currentyear" required>
            </div-->
            
            <label class="control-label" for="currentyear" style="float:right" id="currentyear">שנה נוכחית</label>
			<div class="controls">
				<select type="string" data-ng-model="user.currentyear" required>
					<option value="3">3</option>
                    <option value="4">4</option>
					<option value="5">5</option>
				</select>
			</div>
            <br>
            <label class="control-label" for="semester" style="float:right" id="semester">סמסטר נוכחי</label>
			<div class="controls">
				<select type="string" data-ng-model="user.semester" required>
					<option value="winter">חורף</option>
                    <option value="spring">אביב</option>
				</select>
			</div>
            <br>
            <div class="control-group">
                <label for="generalaverage" style="float:right" class="control-label">ממוצע כללי</label>
                <div class="controls">
                    <input id="generalaverage" type="number" step="any" name="generalaverage" placeholder="ממוצע כללי" ng-model="user.generalaverage" required>
                </div>
            </div>
            <div class="control-group">
                <label for="laststudiograde" class="control-label" style="float:right">ממוצע סטודיו</label>
                <div class="controls">
                    <input id="laststudiograde" type="number" step="any" name="laststudiograde" placeholder="ממוצע סטודיו" ng-model="user.laststudiograde" required>
                </div>
            </div>
        </div> 
        <section><br><p ng-show="status != null"> <i class="fa fa-times-circle-o red" style = "font-size:20px" aria-hidden="true"></i> {{status}} </p></section>
        <!--added-->
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">הרשמה&nbsp;</button>&nbsp;או&nbsp;<a ui-sref="SignIn" class="show-login">כניסה</a>
        </div>
    </form>
</div>