
  <style>
    table
    {
      border-collapse: collapse;
    }

    table, th, td
    {
      border: 0.1em solid #e1e1e1;
    }

    th, td
    {
      padding: 0.6em;
    }

    thead
    {
      background-color: #fcfcfc;
    }
  </style>
<div class="container">
    <p style = "font-size:2em" >טופס סיום תואר</p>
    <p style = "font-size:1.5em">כאן תוכל לנהל את טופס סיום התואר שלך</p>
		<hr>
  <form class="form-horizontal"  ng-show = showcourse data-ng-submit="updateForm()">
    <div>
      <table>
        <thead>
        <tr>
          <th>
            <input type="checkbox" ng-model="areAllCoursesSelected"
                  ng-change="updateCourseSelection(courses, areAllCoursesSelected)" />
          </th>
              <th>מספר קורס</th>
              <th>שם</th>
              <th>מספר נקודות זכות</th>
          </tr>
        </thead>
        <tbody>
        <tr ng-repeat="course in courses">
          <td><input type="checkbox" ng-model="course.isSelected" /></td>
          <td>{{course.Id}}</td>
          <td>{{course.Name}}</td>
          <td>{{course.CreditPoints}}</td>
        </tr>
        </tbody>
      </table>
      <br />
      </table>
        <td><input type="checkbox" ng-model = exchange ng-checked = exchange></td>
        <td>מצהיר/ה שאישרתי את כל הנקודות שעשיתי במסגרת חילופי סטודנטים/ לא עשיתי חילופי סטודנטים </td>
        </tr>
      </table>
      <br />
      </table>
    </div>
    <div class="control-group">
        <div class="controls">
          <input type="submit" class="btn btn-success" value="שמור">
        </div>
  </div>

  </form>
 <div>
  <p ng-show = !showcourse><i class="fa fa-check-circle-o green" style = "font-size:2em" aria-hidden="true"></i>{{"  " +status}}</p>
 </div>
</div>