<div >
	<br>
		<p style = "font-size:2em">היסטורית העדפות</p>
		<hr>
    <span class="spinner-huge-wave-out" style="float: right;margin-right: 450px" ng-if = "showpref == false "></span>
    <p class ="alert alert-info" ng-show = "preferences == null && showpref && !loaderror" style = "font-size:1.2em" >טרם הוזנו העדפות.</p>
    <p class ="alert alert-danger" ng-show = "loaderror" style = "font-size:1.2em" >התרחשה שגיאה בעת טעינת הנתונים</p>

    <span ng-if = "showpref">
    <!--<p class="alert alert-info" >טרם הזנת העדפות</p>-->

   <table class = "table table-striped">
      <thead>
            <tr>
               <th></th>
                <th></th>
                <th></th>
            </tr>
      </thead>
     <tbody ng-repeat="pref in preferences" style="color:black">
        <tr >
            <td  style=" width: 10px;" ng-click="isCollapsed = !isCollapsed"><i  ng-class="isCollapsed? 'fa fa-minus-circle' : 'fa fa-plus-circle'"></i></td>
            <td style = "font-size:20px">{{pref[0].createdAt | date : "dd.MM.y"}}</td>
            <!--<div ng-show = "isRegOpen(pref[0].IdR)">-->
            <td style="width: 90px;"><a href="" ui-sref="EditPref({PrfId : pref[0].IdR})">עריכה</a></td>
            <!--</div>-->
        </tr>
       <tr >
           <td colspan="6">
               <div collapse = "!isCollapsed">
                    <table class="table !important">
                        <thead>
                            <th >שנת לימוד</th>
                            <th>תאריך</th>
                            <th>סמסטר</th>
                            <th>סטודיו</th>
                            <th>דירוג</th>
                        </thead>
                        <tbody  >
                        <tr ng-repeat="p in pref" >
                            <td>{{p.StudentYear}}</td>
                            <td>{{p.createdAt | date : "dd.MM.y"}}</td>
                            <td ng-if = "p.Semester =='winter'" >{{"חורף"}}</td>
                            <td ng-if = "p.Semester !='winter'" >{{"אביב"}}</td>
                            <td>{{p.IdS}}</td>
                            <td>{{p.Rate}}</td>
 
                        </tr>
                        </tbody>
                    </table>
               </div>
           </td>
       </tr>
     </tbody>
   </table>

    
    
    <!--<div >
    <table  class = "table" ng-repeat="pref in preferences">
        <caption class="well well-sm" style="text-align: -webkit-right;" > 
            <strong>{{pref[0].createdAt | date : "dd.MM.y"}}</strong></caption>
        <thead >
            <tr>
            <th >שנה</th>
            <th>תאריך</th>
            <th>סמסטר</th>
            <th>סטודיו</th>
            <th>דירוג</th>
            </tr>
        </thead>

        <tbody ng-repeat="p in pref" >
        <tr >

            <td>{{p.StudentYear}}</td>
            <td>{{p.createdAt | date : "dd.MM.y"}}</td>
            <td ng-if = "p.Semester =='winter'" >{{"חורף"}}</td>
            <td ng-if = "p.Semester !='winter'" >{{"אביב"}}</td>
            <td>{{p.IdS}}</td>
            <td>{{p.Rate}}</td>
        </tr>
        </tbody>
    </table>
    </div>-->
    </span>

</div>