<div data-ng-init="">
	<br>
		<p style = "font-size:20px">היסטורית העדפות</p>
		<hr>
    <span class="spinner-huge-wave-out" style="float: right;margin-right: 450px" ng-if = "showpref == false"></span>
    <span ng-if = "showpref">
    
    <table class = "table" ng-repeat="pref in preferences">
        <thead>
            <tr>
            <th>שנה</th>
            <th>תאריך</th>
            <th>סמסטר</th>
            <th>סטודיו</th>
            <th>דירוג</th>
            </tr>
        </thead>
        <tbody ng-repeat="p in pref">
        <tr>
            <td>{{p.StudentYear}}</td>
            <td>{{p.createdAt | date : "dd.MM.y"}}</td>
            <td ng-if = "p.Semester =='winter'" >{{"חורף"}}</td>
            <td ng-if = "p.Semester !='winter'" >{{"אביב"}}</td>
            <td>{{p.IdS}}</td>
            <td>{{p.Rate}}</td>
        </tr>
        </tbody>

    </table>
    </span>

</div>