<div >
	<br>
		<p style = "font-size:20px">שיבוצים קודמים</p>
		<hr>
        <table class = "table">
            <thead>
                <tr>
                <th>סטודיו</th>
                <th>מנחה</th>
                <th>תאריך</th>
                </tr>
            </thead>
            <tbody ng-repeat="sis in studentinstudio">
            <tr>
            <td>{{sis.Studio}}</td>
            <td>{{sis.Instructor}}</td>
            <td>{{sis.createdAt | date : "dd.MM.y"}}</td>
            </tr>
            </tbody>

        </table>
</div>