<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
  
<div class="jumbotron text-left">
  <p style="font-size:20px">New Assignment</p>
  	<hr>
    <div class="row">
    <div class ="col-md-3">
      <div class="control-group">
        <div class="dropdown">
            <select ng-model="ChosenYear">
             <option ng-repeat="x in year">{{x}}</option>
            </select>
        </div>
   </div>
  </div>
     <div class ="col-md-3">
      <div class="control-group">
        <div class="dropdown">
            <select ng-model="ChosenSemester">
             <option >choose Semester ..</option>
             <option >winter</option>
             <option >spring</option>
            </select>
        </div>
   </div>
  </div>
  <div class ="col-md-3">
  <button type="button" class="btn btn-default" ng-click="init()">get info</button>
  </div>
  </div>
  <div class="row" style="padding-top:30px">
    <div class ="col-md-6" style="float:right">
    <div class = "assinmentBtn" role="group" aria-label="...">
      <button class="btn btn-info" ng-click="runAlgo()">Auto Assinment</button>
      <button type="button" class="btn btn-danger">Clear Assinment</button>
      <button type="button" class="btn btn-success">Approve Assinment</button>
   </div>
  </div>
</div>
</div>
</br>
</br>
  
<div class="container" id = thirdFourth ng-if = "ChosenYear == '3rd-4th'">
  <div class="row">
    <div class="col-sm-8" style="padding-bottom:10px">
          <div class = "col-sm-6"  ng-repeat= "studio in studios">
             <h5 style="text-align:right; padding-right:40px"><b> {{studio.Name}}</b></h5>
                <div class="simpleDemo" style= "overflow:hidden; overflow-y:scroll; height:200px; width:300px">
		              <ul dnd-list="models.studioLists[studio.id]">
                         <li ng-repeat="item in models.studioLists[studio.id]"
                            dnd-draggable="item"
                            dnd-moved="models.studioLists[studio.id].splice($index, 1)"
                            dnd-effect-allowed="move"
                            dnd-selected="models.selected = item"
                            ng-class="{'selected': models.selected === item}"
                            ng-change="UpdateStudentsData()"
                            ng-model="item"
                             >
                            {{item.FirstName + " " + item.LastName}}

                         </li>
                      </ul>
	                 </div>
                   </br>
                <table id = "infoTable" class="table table-hover" style= "width:300px">
                    <thead>
                      <tr>
                        <th>Average Grade</th>
                        <th>Average Grade in studio</th>
                        <th>Female %</th>
                        <th>male %</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td id = "AverageGrade" >{{Sdata.GAvarage}}</td>
                        <td id = "AverageGradeinstudio">{{Sdata.SAvarage}}</td>
                        <td id = "female">{{Sdata.female}}</td>
                        <td id = "male">{{Sdata.male}}</td>
                      </tr>
                    </tbody>
                  </table>
                 </div>
                 </br>
                 </br>
    </div>
    <div class="col-sm-4">
      <h3 style="margin-top:0px">Students</h3>
          <div style= "overflow:hidden; overflow-y:scroll; height:600px">
            <div class="simpleDemo">
		              <ul dnd-list="models.studioLists[0]">
                         <li ng-repeat="item in models.studioLists[0]"
                            dnd-draggable="item"
                            dnd-moved="models.studioLists[0].splice($index, 1)"
                            dnd-effect-allowed="move"
                            dnd-selected="models.selected = item"
                            ng-class="{'selected': models.selected === item}"
                             >
                           {{item.FirstName + " " + item.LastName}}

                         </li>
                   </ul>
	            </div>
          </div>
    </div>
  </div>
</div>

<div class="container" id =fifth ng-if = "ChosenYear == '5th'">
  <div class="row">
    <div class="col-sm-8" style="padding-bottom:10px">
          <div class = "col-sm-6"  ng-repeat= "studio in studios">
             <h5 style="text-align:right; padding-right:40px"><b> {{studio.Name}}</b></h5>
                  <div class="simpleDemo" style= "overflow:hidden; overflow-y:scroll; height:200px; width:300px">
		              <ul dnd-list="models.studioLists[studio.id]" >
                         <li ng-repeat="item in models.studioLists[studio.id] track by models.studioLists[studio.id]"
                            dnd-draggable="item"
                            dnd-moved="models.studioLists[studio.id].splice($index, 1)"
                            dnd-effect-allowed="move"
                            dnd-selected="models.selected = item"
                            ng-class="{'selected': models.selected === item}"
                              ng-change="UpdateStudentsData()"
                            ng-model="models.studioLists[studio.id]"
                             >
                            {{item.FirstName + " " + item.LastName}}

                         </li>
                      </ul>
	                 </div>
                   </br>
                <table id = "infoTable" class="table table-hover" style= "width:300px">
                    <thead>
                      <tr>
                        <th>Average Grade</th>
                        <th>Average Grade in studio</th>
                        <th>Female %</th>
                        <th>male %</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td id = "AverageGrade" >{{Sdata.GAvarage}}</td>
                        <td id = "AverageGradeinstudio">{{Sdata.SAvarage}}</td>
                        <td id = "female">{{Sdata.female}}</td>
                        <td id = "male">{{Sdata.male}}</td>
                      </tr>
                    </tbody>
                  </table>
                 </div>
                 </br>
                 </br>
    </div>
    <div class="col-sm-4">
      <h3 style="margin-top:0px">Students</h3>
          <div style= "overflow:hidden; overflow-y:scroll; height:600px">
            <div class="simpleDemo">
		              <ul dnd-list="models.studioLists[0]">
                         <li ng-repeat="item in models.studioLists[0]"
                            dnd-draggable="item"
                            dnd-moved="models.studioLists[0].splice($index, 1)"
                            dnd-effect-allowed="move"
                            dnd-selected="models.selected = item"
                            ng-class="{'selected': models.selected === item}"
                             >
                           {{item.FirstName + " " + item.LastName}}

                         </li>
                   </ul>
	            </div>
          </div>
    </div>
  </div>
</div>
</section>






