<section data-ng-init="checkIfActive()">
<head>
    <!--<script src="..\css\common.css"></script>-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
 <body> 
   <div class="row">
     <div class ="col-md-12"  style ="text-align:center">
       <p class="bg-danger text-white" style="font-size:large" ng-show="alertIsActive" >{{"ישנה הרשמה פעילה! סגור את ההרשמה לפני יצירת שיבוץ!"}}</p>
     </div>
   </div>
    <div class="jumbotron">
    <p style="font-size:2.5em">יצירת שיבוץ חדש</p>
      <hr>
      <div class="row">
        <div class = "col-md-6">
      <div class ="col-md-12">
        <button type="button" class="btn btn-deafult" ng-click="emptyStudio();init(); myBtn=true" ng-disabled="alertIsActive == true">טען נתונים</button>
      </div>
        </div>
      <div class = "col-md-6">
      <div class ="col-md-6">
        <div class="control-group">
          <div class="dropdown">
              <select ng-model="ChosenSemester" ng-disabled="alertIsActive == true">
                <option value="choose semester..">בחר סמסטר...</option>
                <option value="winter">חורף</option>
                <option value="spring">אביב</option>
              <!--<option ng-repeat="x in semester">{{x}}</option>-->
              </select>
        </div>
    </div>
    </div>
      <div class ="col-md-6">
        <div class="control-group">
          <div class="dropdown">
              <select ng-model="ChosenYear" ng-disabled="alertIsActive == true">
                <option value="choose year..">בחר שנה...</option>
                <option value="3,4">3,4</option>
                <option value="5">5</option>
              <!--<option ng-repeat="x in year">{{x}}</option>-->
              </select>
          </div>
    </div>
    </div>
    </div>
    </div>
    <div  class="row" style="padding-top:30px">
      <div class ="col-md-4" style="float:left">
      <div class = "assinmentBtn" role="group" aria-label="..." ng-show="myBtn">
        <button class="btn btn-info" ng-click="runAlgo()">שיבוץ אוטומטי</button>
        <button type="button" class="btn btn-danger" ng-click="init()">נקה שיבוץ</button>
        <button type="button" class="btn btn-success" ng-click="SaveAssinment()">שמור שיבוץ</button>

    </div>
    </div>
  </div>
</div>
</br>
</br>


<!--spinner while witing for algo-->
<!--<div class="row" ng-if = "loading == false" style="padding-right:500px">
   <i class="fa fa-spinner fa-spin fa-3x fa-fw" ></i>-->
   <span class="spinner-huge-wave-out" style="float: right;margin-right: 500px" ng-if = "loading == false && alertIsActive == false" ></span>
<!--</div>-->

<div ng-show="!assign" style = "text-align:center">
  <p> <i class="fa fa-check-circle-o green" style = "font-size:2em" aria-hidden="true"></i> השיבוץ נשמר בהצלחה</p>
  <a ui-sref="ViewPreviousAssignment">צפייה בשיבוצים קיימים</a>
</div>


  <div class= "row" style ="float:right" ng-show = "addstudflag && assign">
     <form class="form-vertical" data-ng-submit="AddStudent()">
            <div class="controls" style="padding-right:30px">
              <div class="col-md-6" style="padding-right:60px">
                <input type="text" data-ng-model="MissingStudent" id="title"  placeholder="הוסף ידנית סטודנט" style="width:260px;height:35px;float:left" required>
              </div>
               <div class="control-group;col-md-6">
                <input type="submit" value = "הוסף" class="btn btn-info">
             </div>
            </div>
      </form>
        <p ng-show="missingStatus">{{"סטודנט זה כבר קיים"}}</p>
  </div>


  

<div ng-show = "loading">
  <div class="container" id = thirdFourth  ng-if = "myBtn == true && ChosenYear == '3,4'" ng-show = "assign">
    <div class="row">
      <div class="col-sm-8" style="padding-bottom:10px">
            <div class = "col-sm-6"  ng-repeat= "studio in studios">
              <div class ="row">
                <div class="col-sm-2" style="padding-top:7px; padding-left:45px;float: right;">
                  <span class="badge" >{{studio.count}}</span><br>
                </div>
                <div class="col-sm-10">
                  <h5 style="text-align:right; padding-right:50px"><b> {{studio.Name}}</b></h5>
                </div>
              </div>
                  <div class="simpleDemo" style= "overflow:hidden; overflow-y:scroll; height:200px; width:300px">
                    <ul dnd-list="models.studioLists[studio.id]" ng-model="models.studioLists[studio.id]">
                          <li ng-repeat="item in models.studioLists[studio.id]"
                              dnd-draggable="item"
                              dnd-moved="models.studioLists[studio.id].splice($index, 1)"
                              dnd-effect-allowed="move"
                              dnd-selected="models.selected = item; tooltip=!tooltip"
                              ng-class="{'selected': models.selected === item}"
                              dnd-dragend = "changePrefrence(item)"
                              
                              >
                              {{item.FirstName + " " + item.LastName + " " + item.Preference}}
                              <div ng-if ="tooltip == true">
                               <table id = "studentinfoTable" class="table table-hover" border="2px">
                                 <tr>
                                   <td>
                                     ממוצע בתואר:
                                   </td>
                                   <td ng-init=""> 
                                     {{item.Generalaverage}}
                                   </td>
                                 </tr>
                                   <tr>
                                   <td>
                                    ממוצע בסטודיו:
                                   </td>
                                   <td ng-init=""> 
                                     {{item.LastStudioGrade}}
                                   </td>
                                 </tr>
                                    <tr>
                                   <td>
                                  העדפה 1:
                                   </td>
                                   <td ng-init=""> 
                                     {{item.preferences[0].Name}}
                                   </td>
                                 </tr>
                                     <tr>
                                   <td>
                                  העדפה 2:
                                   </td>
                                   <td ng-init=""> 
                                     {{item.preferences[1].Name}}
                                   </td>
                                 </tr>
                                     <tr>
                                   <td>
                                  העדפה 3:
                                   </td>
                                   <td ng-init=""> 
                                     {{item.preferences[2].Name}}
                                   </td>
                                 </tr>
                                    <tr>
                                   <td>
                                  העדפה 4:
                                   </td>
                                   <td ng-init=""> 
                                     {{item.preferences[3].Name}}
                                   </td>
                                 </tr>
                               </table>
                              </div>
                          </li>                        
                        </ul>
                    </div>
                    </br>
                  <table id = "infoTable" class="table table-hover" style= "width:300px">
                      <thead>
                        <tr>
                          <th>ממוצע כללי</th>
                          <th>ממוצע בסטודיו</th>
                          <th>נשים %</th>
                          <th>גברים %</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td id = "AverageGrade" ng-init="" >{{studio.GAverage | number:1}}</td>
                          <td id = "AverageGradeinstudio" ng-init="">{{studio.SAverage | number:1}}</td>
                          <td id = "female" ng-init="">{{studio.female}}</td>
                          <td id = "male" ng-init="">{{studio.male}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  </br>
                  </br>
      </div>
      <div class="col-sm-4">
        <h3 style="margin-top:0px">רשימת סטודנטים</h3>
            <div style= "overflow:hidden; overflow-y:scroll; height:600px">
              <div class="simpleDemo">
                    <ul dnd-list="models.studioLists[0]">
                          <li ng-repeat="item in models.studioLists[0]"
                              dnd-draggable="item"
                              dnd-moved="models.studioLists[0].splice($index, 1)"
                              dnd-effect-allowed="move"
                              dnd-selected="models.selected = item"
                              ng-class="{'selected': models.selected === item}"
                              dnd-dragend = "changePrefrence(item)"
                              >
                            {{item.FirstName + " " + item.LastName}}

                          </li>
                    </ul>
                </div>
            </div>
      </div>
    </div>
  </div>
</div>


<div ng-show = "loading">
  <div class="container" id = fifth  ng-if = "myBtn == true && ChosenYear == '5'" ng-show = "assign">
    <div class="row">
      <div class="col-sm-8" style="padding-bottom:10px">
            <div class = "col-sm-6"  ng-repeat= "studio in studios">
              <div class ="row">
                <div class="col-sm-2" style="padding-top:7px; padding-left:45px;float: right;">
                  <span class="badge" >{{studio.count}}</span><br>
                </div>
                <div class="col-sm-10">
                  <h5 style="text-align:right; padding-right:50px"><b> {{studio.Name}}</b></h5>
                </div>
              </div>
                  <div class="simpleDemo" style= "overflow:hidden; overflow-y:scroll; height:200px; width:300px">
                    <ul dnd-list="models.studioLists[studio.id]" ng-model="models.studioLists[studio.id]">
                          <li ng-repeat="item in models.studioLists[studio.id]"
                              dnd-draggable="item"
                              dnd-moved="models.studioLists[studio.id].splice($index, 1)"
                              dnd-effect-allowed="move"
                              dnd-selected="models.selected = item; tooltip=!tooltip"
                              ng-class="{'selected': models.selected === item}"
                              dnd-dragend = "changePrefrence(item)"
                              
                              >
                              {{item.FirstName + " " + item.LastName + " " + item.Preference}}
                              <div ng-if ="tooltip == true">
                               <table id = "studentinfoTable" class="table table-hover" border="2px">
                                 <tr>
                                   <td>
                                     ממוצע בתואר:
                                   </td>
                                   <td ng-init=""> 
                                     {{item.Generalaverage}}
                                   </td>
                                 </tr>
                                   <tr>
                                   <td>
                                    ממוצע בסטודיו:
                                   </td>
                                   <td ng-init=""> 
                                     {{item.LastStudioGrade}}
                                   </td>
                                 </tr>
                                    <tr>
                                   <td>
                                  העדפה 1:
                                   </td>
                                   <td ng-init=""> 
                                     {{item.preferences[0].Name}}
                                   </td>
                                 </tr>
                                     <tr>
                                   <td>
                                  העדפה 2:
                                   </td>
                                   <td ng-init=""> 
                                     {{item.preferences[1].Name}}
                                   </td>
                                 </tr>
                                     <tr>
                                   <td>
                                  העדפה 3:
                                   </td>
                                   <td ng-init=""> 
                                     {{item.preferences[2].Name}}
                                   </td>
                                 </tr>
                                    <tr>
                                   <td>
                                  העדפה 4:
                                   </td>
                                   <td ng-init=""> 
                                     {{item.preferences[3].Name}}
                                   </td>
                                 </tr>
                               </table>
                              </div>
                          </li>                        
                        </ul>
                    </div>
                    </br>
                  <table id = "infoTable" class="table table-hover" style= "width:300px">
                      <thead>
                        <tr>
                          <th>ממוצע כללי</th>
                          <th>ממוצע בסטודיו</th>
                          <th>נשים %</th>
                          <th>גברים %</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td id = "AverageGrade" ng-init="" >{{studio.GAverage | number:1}}</td>
                          <td id = "AverageGradeinstudio" ng-init="">{{studio.SAverage | number:1}}</td>
                          <td id = "female" ng-init="">{{studio.female}}</td>
                          <td id = "male" ng-init="">{{studio.male}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  </br>
                  </br>
      </div>
      <div class="col-sm-4">
        <h3 style="margin-top:0px">רשימת סטודנטים</h3>
            <div style= "overflow:hidden; overflow-y:scroll; height:600px">
              <div class="simpleDemo">
                    <ul dnd-list="models.studioLists[0]">
                          <li ng-repeat="item in models.studioLists[0]"
                              dnd-draggable="item"
                              dnd-moved="models.studioLists[0].splice($index, 1)"
                              dnd-effect-allowed="move"
                              dnd-selected="models.selected = item"
                              ng-class="{'selected': models.selected === item}"
                              dnd-dragend = "changePrefrence(item)"
                              >
                            {{item.FirstName + " " + item.LastName}}

                          </li>
                    </ul>
                </div>
            </div>
      </div>
    </div>
  </div>
</div>
     

<!--<div class="container" id =fifth  ng-if = "myBtn == true && ChosenYear == '5'" ng-show = "loading">
  <div class="row">
    <div class="col-sm-8" style="padding-bottom:10px">
          <div class = "col-sm-6"  ng-repeat= "studio in studios">
             <h5 style="text-align:right; padding-right:40px"><b> {{studio.Name}}</b></h5>
                  <div class="simpleDemo" style= "overflow:hidden; overflow-y:scroll; height:200px; width:300px">
		              <ul dnd-list="models.studioLists[studio.id]" >
                         <li ng-repeat="item in models.studioLists[studio.id]"
                            dnd-draggable="item"
                            dnd-moved="models.studioLists[studio.id].splice($index, 1)"
                            dnd-effect-allowed="move"
                            dnd-selected="models.selected = item"
                            ng-class="{'selected': models.selected === item}"
                            ng-change="UpdateStudentsData(item,studio)"
                            ng-model="models.studioLists[studio.id]"
                             >
                            {{item.FirstName + " " + item.LastName + "" + item.preference}}

                         </li>
                      </ul>
	                 </div>
                   </br>
                <table id = "infoTable" class="table table-hover" style= "width:300px">
                    <thead>
                      <tr>
                         <th>ממוצע כללי</th>
                         <th>ממוצע בסטודיו</th>
                         <th>נשים %</th>
                         <th>גברים %</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td id = "AverageGrade" >{{Sdata.GAverage}}</td>
                        <td id = "AverageGradeinstudio">{{Sdata.SAverage}}</td>
                        <td id = "female">{{Sdata.female}}</td>
                        <td id = "male">{{Sdata.male}}</td>
                      </tr>
                    </tbody>
                  </table>
                 </div>
                 </br>
                 </br>
    </div>
    <div class="col-sm-4">
      <h3 style="margin-top:0px">סטודנטים</h3>
          <div style= "overflow:hidden; overflow-y:scroll; height:600px">
            <div class="simpleDemo">
		              <ul dnd-list="models.studioLists[0]">
                         <li ng-repeat="item in models.studioLists[0]"
                            dnd-draggable="item"
                            dnd-moved="models.studioLists[0].splice($index, 1)"
                            dnd-effect-allowed="move"
                            dnd-selected="models.selected = item"
                            ng-class="{'selected': models.selected === item}"
                             >
                           {{item.FirstName + " " + item.LastName}}

                         </li>
                   </ul>
	            </div>
          </div>
    </div>
  </div>
</div>-->
 </body>
</section>










