<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
  
<div class="jumbotron text-left">
  <p style="font-size:20px">New Assignment</p>
  	<hr>
    <div class="row">
    <div class ="col-md-6">
      <div class="control-group">
        <div class="dropdown">
            <select ng-model="ChosenYear" ng-change="uploadAll()">
             <option ng-repeat="x in year">{{x}}</option>
            </select>
        </div>
   </div>
    </div>
    <div class ="col-md-6">
    <div class = "assinmentBtn" role="group" aria-label="...">
      <button type="button" class="btn btn-info">Auto Assinment</button>
      <button type="button" class="btn btn-danger">clear Assinment</button>
      <button type="button" class="btn btn-success">Approve Assinment</button>
   </div>
  </div>
</div>
</div>
</br>
</br>
  
<div class="container" id = thirdFourth ng-if = "ChosenYear == '3rd-4th'">
  <div class="row">
    <div class="col-sm-8" style="padding-bottom:10px">
          <div class = "col-sm-6" ng-repeat="list in models.listsA">
             <h5><b>studio</b></h5>
                  <div class="simpleDemo" style= "overflow:hidden; overflow-y:scroll; height:300px; width:300px">
		              <ul dnd-list="list">
                         <li ng-repeat="item in list"
                            dnd-draggable="item"
                            dnd-moved="list.splice($index, 1)"
                            dnd-effect-allowed="move"
                            dnd-selected="models.selected = item"
                            ng-class="{'selected': models.selected === item}"
                             >
                           {{item.label}}
                         </li>
                      </ul>
	                 </div>
                   </br>
                <table id = "infoTable" class="table table-hover" style= "width:300px">
                    <thead>
                      <tr>
                        <th>Average Grade</th>
                        <th>Average Grade in studio</th>
                        <th>Female %</th>
                        <th>male %</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>99</td>
                        <td>90</td>
                        <td>80</td>
                        <td>20</td>
                      </tr>
                    </tbody>
                  </table>
                 </div>
                 </br>
                 </br>
    </div>
    <div class="col-sm-4">
      <h3 style="margin-top:0px">students</h3>
          <div ng-repeat="list in models.listsB" style= "overflow:hidden; overflow-y:scroll; height:600px">
                    <div class="simpleDemo">
		              <ul dnd-list="list">
                         <li ng-repeat="item in list"
                            dnd-draggable="item"
                            dnd-moved="list.splice($index, 1)"
                            dnd-effect-allowed="move"
                            dnd-selected="models.selected = item"
                            ng-class="{'selected': models.selected === item}"
                             >
                           {{item.label}}
                         </li>
                      </ul>
	                 </div>
                 </div>
    </div>
  </div>
</div>

<div class="container" id = fifth ng-if = "ChosenYear == '5th'">
  <div class="row">
    <div class="col-sm-8" style="padding-bottom:10px">
          <div class = "col-sm-6" ng-repeat="list in models.listsA">
             <h5><b>Studio</b></h5>
                  <div class="simpleDemo" style= "overflow:hidden; overflow-y:scroll; height:300px; width:300px">
		              <ul dnd-list="list">
                         <li ng-repeat="item in list"
                            dnd-draggable="item"
                            dnd-moved="list.splice($index, 1)"
                            dnd-effect-allowed="move"
                            dnd-selected="models.selected = item"
                            ng-class="{'selected': models.selected === item}"
                             >
                           {{item.label}}
                         </li>
                      </ul>
	                 </div>
                   </br>
                <table id = "infoTable" class="table table-hover" style= "width:300px">
                    <thead>
                      <tr>
                        <th>Average Grade</th>
                        <th>Average Grade in studio</th>
                        <th>Female %</th>
                        <th>male %</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>99</td>
                        <td>90</td>
                        <td>80</td>
                        <td>20</td>
                      </tr>
                    </tbody>
                  </table>
                 </div>
                 </br>
                 </br>
    </div>
    
    <div class="col-sm-4">
      <h3 style="margin-top:0px">students</h3>
          <div ng-repeat="list in models.listsB" style= "overflow:hidden; overflow-y:scroll; height:600px">
                    <div class="simpleDemo">
		              <ul dnd-list="list">
                         <li ng-repeat="item in list"
                            dnd-draggable="item"
                            dnd-moved="list.splice($index, 1)"
                            dnd-effect-allowed="move"
                            dnd-selected="models.selected = item"
                            ng-class="{'selected': models.selected === item}"
                             >
                           {{item.label}}
                         </li>
                      </ul>
	                 </div>
                 </div>
    </div>
  </div>
</div>
</section>






