<section data-ng-init="findOne()">
    <br>
    <p style = "font-size:2em">עריכת קורס</p>
    <hr>
	<!--<span class="spinner-huge-wave-out" style="float: right;margin-right: 450px" ng-show = "showstud == false"></span>-->
    <form class="form-horizontal" data-ng-submit="update()" >
	<br>
		<div class="control-group">
			<p class="alert alert-danger text-white" style="font-size:large" ng-show="updateerror == true" >{{"התרחשה שגיאה בעריכה- ייתכן שהשינויים לא נשמרו."}}</p>
			<p class="alert alert-danger text-white" style="font-size:large" ng-show="loaderror == true" >{{"התרחשה שגיאה בשרת."}}</p>
            <label class="control-label" for="Id_s" style="float:right">מזהה קורס</label>
			<div class="controls">
				<input type="text" data-ng-model="course.Id" id="Id_s" required>
			</div>
            <br>
			<label class="control-label" for="name" style="float:right">שם קורס</label>
			<div class="controls">
				<input type="text" data-ng-model="course.Name" id="name" required>
			</div>
            <br>
			<label class="control-label" for="instructor" style="float:right">סוג</label>
			<div class="controls">
				<!--<input type="text" data-ng-model="instructor" id="instructor" required>-->
                <select type="string" data-ng-model="course.CourseType" required>
					<option value="">בחר\י סוג קורס...</option>
					<option value="mandatory">חובה</option>
					<option value="mandatory_choice">בחירה מחייבת</option>
					<option value="design_choice">בחירה - מסלול עיצוב בסיסי</option>
					<option value="general_choice">בחירה</option>
				</select>
			</div>
            <br>
            <label class="control-label" for="Id_s" style="float:right">מספר נקודות זיכוי</label>
			<div class="controls">
				<input type="text" data-ng-model="course.CreditPoints" id="Id_s" required>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn btn-success" value= "שמור">
			</div>
		</div>
	</form>     
</section>
