<section data-ng-init="Load('edit')">
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div class="jumbotron text-left">
  <p style="font-size:20px;float: right;">עריכת שיבוץ קיים</p>
  <br>
  <br>
  	<hr>
    <div class="row">
      <div  style="float:right">
        <div class="control-group" style="margin-right: 15px;">
          <div style="width: 60%;">
              <input style="height:30px" type="text" disabled ng-model="ChosenYear" disabled>
          </div>
        </div>
      </div>
     <div style="float:right;width: 0;">
        <div class="control-group" style="margin-right: 15px;">
          <div  ng-if = "ChosenSemester == 'winter'">
              <input style="height:30px"  type="text" value="חורף" disabled>
          </div>
          <div  ng-if = "ChosenSemester != 'winter'">
              <input style="height:30px"  type="text" value="אביב" disabled>
          </div>
        </div>
    </div>

    <div >
      <div class = "assinmentBtn" role="group" aria-label="..." >
        <button  style ="margin-right: 700px;" type="button" class="btn btn-success" ng-click="UpdateAssinment()">אשר שיבוץ</button>
      </div>
    </div>

  </div>
</div>
</br>
</br>

<div ng-show="!assign && !serverError && !dataError" style = "text-align:center">
  <span>
  <p class="alert alert-info">השיבוץ התעדכן בהצלחה!</p>
  <a ui-sref="ViewPreviousAssignment">צפייה בשיבוצים קודמים</a>
  </span>
</div>

<span class="spinner-huge-wave-out" style="float: right;margin-right: 500px" ng-show ="findallview"></span>
<div ng-show="dataError">
  <p class="alert alert-danger text-white" style="font-size:large; text-align:center" ng-show="dataError" >{{"התרחשה שגיאה בייבוא הנתונים."}}</p>
</div>
<div ng-show="serverError">
  <p class="alert alert-danger text-white" style="font-size:large; text-align:center" ng-show="serverError" >{{"התרחשה שגיאה בשרת"}}</p>
</div>

<div>
  <div class="row">
      <p ng-show="missingStatus" class="alert alert-danger" style="text-align:center">{{"סטודנט זה כבר קיים"}}</p>
      <p ng-show="missingStatusOK" class="alert alert-success" style="text-align:center">{{"סטודנט התווסף בהצלחה"}}</p>
  </div>
  <div class= "row" style ="float:right" ng-show = "!findallview && !dataError && !serverError && assign">
     <form class="form-vertical" data-ng-submit="AddStudent()">
            <div class="controls" style="padding-right:30px">
                 <div class="control-group col-md-3">
                  <input type="submit" value = "הוסף" class="btn btn-info">
               </div>
                <div class="col-md-9" >
                  <input type="number" data-ng-model="MissingStudent" id="title"  placeholder="הוסף ידנית ת.ז של סטודנט" style="width:100%;padding:16px;" required>
                </div>
            </div>
      </form>
    </div>

<div >
  <div class="container" id = "thirdFourth"  ng-show = "assign && !findallview" >
    <div class="row">
      <div class="col-sm-8" style="padding-bottom:10px">
            <div class = "col-sm-6"  ng-repeat= "studio in studios">
              <div class ="row">
                <div class="col-sm-2" style="padding-top:7px; padding-left:45px;float: right">
                  <span class="badge" >{{studio.count}}</span><br>
                </div>
                <div class="col-sm-10">
                  <h5 style="text-align:right; padding-right:50px"><b> {{studio.Name}}</b></h5>
                </div>
              </div>
                  <div class="simpleDemo" style= "overflow:hidden; overflow-y:scroll; height:300px; width:300px">
                    <ul dnd-list="models.studioLists[studio.id]" ng-model="models.studioLists[studio.id]">
                          <li ng-repeat="item in models.studioLists[studio.id]"
                              dnd-draggable="item"
                              dnd-moved="models.studioLists[studio.id].splice($index, 1)"
                              dnd-effect-allowed="move"
                              dnd-selected="models.selected = item; tooltip=!tooltip"
                              ng-class="{'selected': models.selected === item}"
                              dnd-dragend = "changePrefrenceEdit(item)"
                              >
                              {{item.FirstName + " " + item.LastName + " " + item.Preference}}
                             <div ng-if ="tooltip == true">
                               <table id = "studentinfoTable" class="table table-hover" border="2px">
                                 <tr>
                                   <td>
                                     ממוצע בתואר:
                                   </td>
                                   <td ng-init="">
                                     {{item.Generalaverage}}
                                   </td>
                                 </tr>
                                   <tr>
                                   <td>
                                    ממוצע בסטודיו:
                                   </td>
                                   <td ng-init="">
                                     {{item.LastStudioGrade}}
                                   </td>
                                 </tr>
                                    <tr>
                                   <td>
                                  העדפה 1:
                                   </td>
                                   <td ng-init="">
                                     {{item.preferences[0]}}
                                   </td>
                                 </tr>
                                     <tr>
                                   <td>
                                  העדפה 2:
                                   </td>
                                   <td ng-init="">
                                     {{item.preferences[1]}}
                                   </td>
                                 </tr>
                                     <tr>
                                   <td>
                                  העדפה 3:
                                   </td>
                                   <td ng-init="">
                                     {{item.preferences[2]}}
                                   </td>
                                 </tr>
                                    <tr>
                                   <td>
                                  העדפה 4:
                                   </td>
                                   <td ng-init="">
                                     {{item.preferences[3]}}
                                   </td>
                                 </tr>
                               </table>
                              </div>
                          </li>
                        </ul>
                    </div>
                    </br>
                  <table id = "infoTable" class="table table-hover" style= "width:300px">
                      <thead>
                        <tr>
                         <th>ממוצע כללי</th>
                         <th>ממוצע בסטודיו</th>
                         <th>נשים %</th>
                         <th>גברים %</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td id = "AverageGrade" ng-init="" >{{studio.GAverage| number:1}}</td>
                          <td id = "AverageGradeinstudio" ng-init="">{{studio.SAverage| number:1}}</td>
                          <td id = "female" ng-init="">{{studio.female}}</td>
                          <td id = "male" ng-init="">{{studio.male}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  </br>
                  </br>
      </div>
      <div class="col-sm-4">
        <h3 style="margin-top:0px">סטודנטים</h3>
            <div style= "overflow:hidden; overflow-y:scroll; height:600px">
              <div class="simpleDemo">
                    <ul dnd-list="models.studioLists[0]">
                          <li ng-repeat="item in models.studioLists[0]"
                              dnd-draggable="item"
                              dnd-moved="models.studioLists[0].splice($index, 1)"
                              dnd-effect-allowed="move"
                              dnd-selected="models.selected = item"
                              ng-class="{'selected': models.selected === item}"
                              >
                            {{item.FirstName + " " + item.LastName}}

                          </li>
                    </ul>
                </div>
            </div>
      </div>
    </div>
  </div>
</div>

<!--
<div >
  <div class="container" id = "fifth"  ng-if = "ChosenYear == '5'" ng-show = "assign" >
    <div class="row">
      <div class="col-sm-8" style="padding-bottom:10px">
            <div class = "col-sm-6"  ng-repeat= "studio in studios">
              <div class ="row">
                <div class="col-sm-2" style="padding-top:7px; padding-left:45px;float: right">
                  <span class="badge" >{{studio.count}}</span><br>
                </div>
                <div class="col-sm-10">
                  <h5 style="text-align:right; padding-right:50px"><b> {{studio.Name}}</b></h5>
                </div>
              </div>
                  <div class="simpleDemo" style= "overflow:hidden; overflow-y:scroll; height:300px; width:300px">
                    <ul dnd-list="models.studioLists[studio.id]" ng-model="models.studioLists[studio.id]">
                          <li ng-repeat="item in models.studioLists[studio.id]"
                              dnd-draggable="item"
                              dnd-moved="models.studioLists[studio.id].splice($index, 1)"
                              dnd-effect-allowed="move"
                              dnd-selected="models.selected = item; tooltip=!tooltip"
                              ng-class="{'selected': models.selected === item}"
                              dnd-dragend = "changePrefrence(item)"
                              >
                              {{item.FirstName + " " + item.LastName + " " + item.Preference}}
                             <div ng-if ="tooltip == true">
                               <table id = "studentinfoTable" class="table table-hover" border="2px">
                                 <tr>
                                   <td>
                                     ממוצע בתואר:
                                   </td>
                                   <td ng-init="">
                                     {{item.Generalaverage}}
                                   </td>
                                 </tr>
                                   <tr>
                                   <td>
                                    ממוצע בסטודיו:
                                   </td>
                                   <td ng-init="">
                                     {{item.LastStudioGrade}}
                                   </td>
                                 </tr>
                                    <tr>
                                   <td>
                                  העדפה 1:
                                   </td>
                                   <td ng-init="">
                                     {{item.preferences[0]}}
                                   </td>
                                 </tr>
                                     <tr>
                                   <td>
                                  העדפה 2:
                                   </td>
                                   <td ng-init="">
                                     {{item.preferences[1]}}
                                   </td>
                                 </tr>
                                     <tr>
                                   <td>
                                  העדפה 3:
                                   </td>
                                   <td ng-init="">
                                     {{item.preferences[2]}}
                                   </td>
                                 </tr>
                                    <tr>
                                   <td>
                                  העדפה 4:
                                   </td>
                                   <td ng-init="">
                                     {{item.preferences[3]}}
                                   </td>
                                 </tr>
                               </table>
                              </div>
                          </li>
                        </ul>
                    </div>
                    </br>
                  <table id = "infoTable" class="table table-hover" style= "width:300px">
                      <thead>
                        <tr>
                         <th>ממוצע כללי</th>
                         <th>ממוצע בסטודיו</th>
                         <th>נשים %</th>
                         <th>גברים %</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td id = "AverageGrade" ng-init="" >{{studio.GAverage| number:1}}</td>
                          <td id = "AverageGradeinstudio" ng-init="">{{studio.SAverage| number:1}}</td>
                          <td id = "female" ng-init="">{{studio.female}}</td>
                          <td id = "male" ng-init="">{{studio.male}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  </br>
                  </br>
      </div>
      <div class="col-sm-4">
        <h3 style="margin-top:0px">סטודנטים</h3>
            <div style= "overflow:hidden; overflow-y:scroll; height:600px">
              <div class="simpleDemo">
                    <ul dnd-list="models.studioLists[0]">
                          <li ng-repeat="item in models.studioLists[0]"
                              dnd-draggable="item"
                              dnd-moved="models.studioLists[0].splice($index, 1)"
                              dnd-effect-allowed="move"
                              dnd-selected="models.selected = item"
                              ng-class="{'selected': models.selected === item}"
                              >
                            {{item.FirstName + " " + item.LastName}}

                          </li>
                    </ul>
                </div>
            </div>
      </div>
    </div>
  </div>
</div> -->
</div>
</section>
