<section data-ng-init="findOne()">
    <p style = "font-size:20px" >Edit Registration</p>
    <hr>
	<form class="form-horizontal" data-ng-submit="update()">
		<div class="control-group">
            <label class="control-label" for="Start_date">Start Date</label>
			<div class="controls">
				<input type="date" data-ng-model="registration.StartDate" id="Start_date" required>
			</div>
		</div>
       <div class="control-group">
            <label class="control-label" for="End_date">End Date</label>
			<div class="controls">
				<input type="date" data-ng-model="registration.EndDate" id="End_date" required>
			</div>
       </div>
		<div class="control-group">
            <label class="control-label" for="Semester" id="Semester">Semester</label>
			<div class="controls">
				<select type="string" data-ng-model="registration.Semester" required>
					<option value="winter">Winter</option>
					<option value="spring">Spring</option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
			</div>
		</div>
	</form>
</section>