<!--<section>
    <form>
	<section ng-show="status == null">
		<p >Open Registration:</p>
		<hr>
			Start Date:<br>
			<input type="date" ng-model="startdate" required><br>
			End Date:<br>
			<input type="date" ng-model="enddate" required><br>
			Semester:<br>
			<select type="string" ng-model="semester" required>
			<option value="winter">Winter</option>
			<option value="spring">Spring</option>
			</select>
			<br>
			<div class="control-group">
				<div class="controls">
					<input type="submit" class="btn">
				</div>
			</div>
			<input type="submit" value="Submit" ng-click="openRegistration()">
	</section>

	
	</form>
</section>-->

<section ng-show="status == null">
	<form class="form-horizontal" data-ng-submit="openRegistration()">
	<br>
		<p style = "font-size:20px" >Open Registration</p>
		<hr>
		<div class="control-group">
			<label class="control-label" for="startdate">Start Date</label>
			<div class="controls">
				<input type="date" data-ng-model="startdate" id="startdate" required>
			</div>
			<label class="control-label" for="enddate">End Date</label>
			<div class="controls">
				<input type="date" data-ng-model="enddate" id="enddate" required>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="semester" id="semester">Semester</label>
			<div class="controls">
				<select type="string" data-ng-model="semester" required>
					<option value="winter">Winter</option>
					<option value="spring">Spring</option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
			</div>
		</div>
	</form>
</section>

<section><br><p ng-show="status != null"> <i class="fa fa-check-circle-o green" style = "font-size:20px" aria-hidden="true"></i> {{status}} </p></section>	  