<section>
	<form class="form-horizontal" data-ng-submit="openRegistration()">
	<br>
		<p style = "font-size:20px" >Open Registration</p>
		<hr>
		<div class="control-group">
			<label class="control-label" for="startdate">Start Date</label>
			<div class="controls">
				<input type="date" data-ng-model="startdate" id="startdate" required>
			</div>
			<br>
			<label class="control-label" for="enddate">End Date</label>
			<div class="controls">
				<input type="date" data-ng-model="enddate" id="enddate" required>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="semester" id="semester">Semester</label>
			<div class="controls">
				<select type="string" data-ng-model="semester" required>
					<option value="winter">Winter</option>
					<option value="spring">Spring</option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
			</div>
		</div>
	</form>
</section>
<i class="fa fa-spinner fa-spin fa-3x fa-fw" ng-show="showreg == false"></i>
<!--yana:chenge to red if problem-->
<section><br><p ng-show="status != null"> <i class="fa fa-check-circle-o green" style = "font-size:20px" aria-hidden="true"></i> {{status}} </p></section>	  