<section>
    <form>
  	<p>Open Registration:</p>
  		Start Date:<br>
  		<input type="date" ng-model="startdate"><br>
		End Date:<br>
  		<input type="date" ng-model="enddate"><br>
		Semester:<br>
  		<select type="string" ng-model="semester">
		<option value="winter">Winter</option>
		<option value="spring">Spring</option>
  		</select>
		<br>
		<input type="submit" value="Submit" ng-click="openRegistration()">
	<p ng-show="status != null"> <i class="fa fa-check" aria-hidden="true"></i> {{status}} </p>	  
	</form>
</section>