
  <style>
    table
    {
      border-collapse: collapse;
    }

    table, th, td
    {
      border: 1px solid #e1e1e1;
    }

    th, td
    {
      padding: 6px;
    }

    thead
    {
      background-color: #fcfcfc;
    }
  </style>

<form class="form-horizontal" data-ng-submit="updateForm()">
  <div>
    <h3>Degree Final Form</h3>
    <table>
      <thead>
      <tr>
        <th>
          <input type="checkbox" ng-model="areAllPeopleSelected"
                 ng-change="updatePeopleSelection(courses, areAllPeopleSelected)" />
        </th>
            <th>Course ID</th>
            <th>Name</th>
            <th>Number Of Credit Points</th>
        </tr>
      </thead>
      <tbody>
    <!--<tr ng-repeat="course in courses">-->
      <tr ng-repeat="course in courses">
        <td><input type="checkbox" ng-model="course.isSelected" /></td>
        <td>{{course.id}}</td>
        <td>{{course.Name}}</td>
        <td>{{course.CreditPoints}}</td>
      </tr>
      </tbody>
    </table>
    <br />
        </table>
        <td><input type="checkbox" /></td>
        <td>מצהיר/ה שאישרתי את כל הנקודות שעשיתי במסגרת חילופי סטודנטים/ לא עשיתי חילופי סטודנטים </td>
      </tr>
    </table>
    <br />
    </table>
  </div>
  <div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
			</div>
</div>

</form>