<div data-ng-init="findOne()">
	<br>
		<p style = "font-size:2em">פרטי הסטודנט: {{student.FirstName + " " + student.LastName}}</p>
		<hr>
</div>

<span class="spinner-huge-wave-out" style="float: right;margin-right: 2em" ng-show = "showuser == false"></span>
<table class = "table" ng-show = "showuser == true">
    <thead>
        <tr>
        <th>ת"ז</th>
        <th>שם פרטי</th>
        <th>שם משפחה</th>
        <th>דוא"ל</th>
        <th>מין</th>
        <th>שנה</th>
        <th>ממוצע כללי</th>
        <th>ממוצע סטודיו</th>
        <th>מצב טופס גמר</th>
        <th></th>
        <th></th>
        </tr>
    </thead>
    <tbody ng-model="student">
    <tr>
    <td>{{student.id}}</td>
    <td>{{student.FirstName}}</td>
    <td>{{student.LastName}}</td>
    <td>{{student.Email}}</td>
    <td>{{student.Gender}}</td>
    <td>{{student.CurrentYear}}</td>
    <td>{{student.Generalaverage}}</td>  
    <td>{{student.LastStudioGrade}}</td>  
    <td ng-if="student.IsValid == false">{{"טרם הושלם"}}</td>
    <td ng-if="student.IsValid == true">{{"הושלם"}}</td>     
    <td><a class="btn btn-default btn-sm" ui-sref="editStudent({studentId : student.id})"><i class="fa fa-pencil"></i> עריכה</a></td>
    <td><a class="btn btn-danger" ng-click=removeView(stud)><i class="fa fa-trash-o fa-lg"></i> מחיקה</a></td>
    </tr>
    </tbody>

</table>

<p ng-show = "showuser == true" style = "font-size:1.5em">
     <i ng-click="isCollapsed = !isCollapsed" ng-class="isCollapsed? 'fa fa-minus-circle' : 'fa fa-plus-circle'"></i>
     שיבוצים קודמים</p>
<hr ng-show = "showuser == true">
<div collapse="!isCollapsed">
	<br>
		<hr>
        <table class = "table" ng-show="studentinstudio.length">
            <thead>
                <tr>
                <th>סטודיו</th>
                <th>מנחה</th>
                <th>תאריך</th>
                </tr>
            </thead>
            <tbody ng-repeat="sis in studentinstudio">
            <tr>
            <td>{{sis.Studio}}</td>
            <td>{{sis.Instructor}}</td>
            <td>{{sis.createdAt | date : "dd.MM.y"}}</td>
            </tr>
            </tbody>

        </table>
       <p class="alert alert-info" ng-show="!studentinstudio.length">אין שיבוצים  עבור סטודנט זה</p>
</div>

<p ng-show = "showuser == true" style = "font-size:1.5em">
     <i ng-click="isCollapsed1 = !isCollapsed1" ng-class="isCollapsed1? 'fa fa-minus-circle' : 'fa fa-plus-circle'"></i>
     מצב טופס גמר</p>
<hr ng-show = "showuser == true">
<div collapse="!isCollapsed1">
	<br>
		<hr>
        <table class = "table" ng-show="studentincourse.length">
            <thead>
                <tr>
                <th>מזהה קורס</th>
                <th>שם הקורס</th>
                <th>סטאטוס</th>
                <th>תאריך עדכון אחרון</th>
                </tr>
            </thead>
            <tbody ng-repeat="sic in studentincourse">
            <tr>
            <td>{{sic.IdCourse}}</td>
            <td>{{sic.CourseName}}</td>
            <!--<td>{{sic.IsDone}}</td>-->
            <td ng-if="sic.IsDone == false">{{"טרם הושלם"}}</td>    
            <td ng-if="sic.IsDone == true">{{ "הושלם"}}</td>    
            <td>{{sic.updatedAt | date : "dd.MM.y"}}</td>
            </tr>
            </tbody>

        </table>
       <p class="alert alert-info" ng-show="!studentincourse.length">סטודנט זה טרם הזין טופס גמר</p>
        
</div>

<p ng-show = "showuser == true" style = "font-size:1.5em"> 
    <i ng-click="isCollapsed2 = !isCollapsed2" ng-class="isCollapsed2? 'fa fa-minus-circle' : 'fa fa-plus-circle'"></i>
    היסטוריית העדפות</p>
<hr ng-show = "showuser == true">
<div collapse="!isCollapsed2">
	<br>
        <table class = "table" ng-show="preferences.length">
            <thead> 
                <tr>
                <th>שנה</th>
                <th>תאריך</th>
                <th>סמסטר</th>
                <th>סטודיו</th>
                <th>דירוג</th>
                </tr>
            </thead>
            <tbody ng-repeat="pref in preferences">
            <tr>
            <td>{{pref.StudentYear}}</td>
            <td>{{pref.createdAt | date : "dd.MM.y"}}</td>
            <td>{{pref.Semester}}</td>
            <td>{{pref.IdS}}</td>
            <td>{{pref.Rate}}</td>
            </tr>
            </tbody>

        </table>
       <p class="alert alert-info" ng-show="!preferences.length">סטודנט זה טרם הזין העדפות</p>
        

</div>