<!--<form method="post" action="/upload" ng-file-select enctype="multipart/form-data">
    <input type="file" name = "StudentsFile">
    <input type="submit" name = "submit" value = "Submit">
</form>-->
  <div class="container">
      <p style = "font-size:20px" >Upload ID Files</p>
      <hr>
      <div class="container">
              <form class="form-horizontal" data-ng-submit="addIds()">
	<br>
		<div class="control-group">
            <label class="control-label" for="Ids">Upload Student ID File</label>
            <div class="controls">
            <input type="file" name = "Ids" ngf-select ng-model="Ids">
            <p>Please note that the file must be is csv format</p>
            </div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
			</div>
		</div>
	</form>     
      </div>
  </div>
  <div class="container">
      <p style = "font-size:20px" >Upload Manualy</p>
      <hr>
      <div class="container">
          <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <label class="control-label" for="tz">Enter User ID:</label>
            <div class="controls">
                <input type="number" step="any" data-ng-model="tz" id="tz" required>
            </div>
            <br>
            <div class="control-group">
                <div class="controls">
                    <input type="submit" class="btn">
                </div>
		    </div>
          </form>
      </div>
  </div>
  <!--<a href="path">image</a>-->
  <section><br><p ng-show="status != null"> <i class="fa fa-check-circle-o green" style = "font-size:20px" aria-hidden="true"></i> {{status}} </p></section>	  
  <section><br><p ng-show="error != null"> <i class="fa fa-times-circle-o red" style = "font-size:20px" aria-hidden="true"></i> {{error}} </p></section>