
  <div class="container">
      <p style = "font-size:2em" >טעינת קבצי תעודות הזהות</p>
      <hr>
    <span class="spinner-huge-wave-out" style="float: right;margin-right: 450px" ng-show = "showuser == false"></span>
      <div class="container" ng-show = "showuser == true">
        <form class="form-horizontal" data-ng-submit="addIds()">
        <br>
		<div class="control-group">
            <label class="control-label" style="float: right" for="Ids">טען קובץ תעודות זהות:</label>
            <div class="controls">
            <input type="file" name = "Ids" ngf-select ng-model="Ids">
            <p>יש לטעון קבצי csv בלבד!</p>
            </div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn btn-success" value="שמור">
			</div>
		</div>
	</form>     
      </div>
  </div>
  <div class="container" ng-show = "showuser == true">
      <p style = "font-size:2em" >טעינה ידנית</p>
      <hr>
      <div class="container">
          <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <label class="control-label" style="float: right" for="tz">הכנס תעודת זהות :</label>
            <div class="controls">
                <input type="number" step="any" data-ng-model="tz" id="tz" required>
            </div>
            <br>
            <div class="control-group">
                <div class="controls">
                    <input type="submit" class="btn btn-success" value="שמור">
                </div>
		    </div>
          </form>
      </div>
  </div>
  <!--<a href="path">image</a>-->
  <section ng-show = "showuser == true"><br><p ng-show="status != null"> <i class="fa fa-check-circle-o green" style = "font-size:2em" aria-hidden="true"></i> {{status}} </p></section>	  
  <section ng-show = "showuser == true"><br><p ng-show="error != null"> <i class="fa fa-times-circle-o red" style = "font-size:2em" aria-hidden="true"></i> {{error}} </p></section>

    <div class="container" ng-show = "showuser == true">
      <p style = "font-size:2em" >תעודות זהות במערכת</p>
      <hr>
      <input ng-model = "query" type="text" placeholder="חיפוש..." style="margin-left: 10px;">
        <table class = "table">
            <thead>
                <tr>
                    <th>מספר תעודת זהות</th>
                    <th></th>
                </tr>
            </thead>
            <tbody ng-repeat="tz in tzs | filter:query">
                <tr>
                <td>{{tz.id}}</td>
                <td><a class="btn btn-danger" ng-click=removetz(tz)><i class="fa fa-trash-o fa-lg"></i> מחיקה</a></td>
                </tr>
            </tbody>
        </table>
  </div>