<div>
	<br>
		<p style = "font-size:20px">Manage Studios</p>
		<hr>
</div>

<i class="fa fa-spinner fa-spin fa-3x fa-fw" ng-show = "showstud == false"></i>
<div id = "studios" ng-show = "showstud == true">
  <input ng-model = "query" type="text" placeholder="Search...">

  <select ng-model="filterYear.store" ng-options="item.name for item in filterYearOptions.stores">
  </select>

  <select ng-model="filterSemester.store" ng-options="item.name for item in filterSemesterOptions.stores">
  </select>

   <table class = "table">
      <thead>
         <tr>
            <th>Course ID</th>
            <th>Name</th>
            <th>Instructor</th>
            <th>Description</th>
            <th>Relevant Years</th>
            <th>Semester</th>
            <th>Sylabus</th>
            <th></th> 
            <th></th>
            <th></th>
         </tr>
      </thead>
     <tbody ng-repeat="studio in studios | filter:query | filter:yearFilter | filter:semesterFilter">
        <tr>
        <td>{{studio.Id_s}}</td>
        <td>{{studio.Name}}</td>
        <td>{{studio.Instructor}}</td>
        <td>{{studio.Description}}</td>
        <td>{{studio.Relevant_years}}</td>
        <td>{{studio.Semester}}</td>  
        <td><a href="" ng-click="openPdf(studio.LinkSylabus)">{{"Sylabus"}}</a></td>
        <!--<td><a ui-sref="ViewPdf({ pdfId: studio.LinkSylabus})" ng-href="{{studio.LinkSylabus}}">{{"Sylabus"}}</a></td>-->
        <td><a class="btn btn-default btn-sm"><i class="fa fa-pencil"></i> Edit</a></td>
        <td><a class="btn btn-danger" ng-click=remove(studio)><i class="fa fa-trash-o fa-lg"></i> Delete</a></td>
        </tr>
     </tbody>
   </table>
</div>

<div>
    <br>
    <p style = "font-size:20px">Add New Studio</p>
    <hr>
    <form class="form-horizontal" data-ng-submit="addStudio()">
	<br>
		<div class="control-group">
            <label class="control-label" for="Id_s">Course ID</label>
			<div class="controls">
				<input type="text" data-ng-model="Id_s" id="Id_s" required>
			</div>
            <br>
			<label class="control-label" for="name">Name</label>
			<div class="controls">
				<input type="text" data-ng-model="name" id="name" required>
			</div>
            <br>
			<label class="control-label" for="instructor">Instructor</label>
			<div class="controls">
				<input type="text" data-ng-model="instructor" id="instructor" required>
			</div>
            <br>
            <label class="control-label" for="description">Description</label>
			<div class="controls">
				<input type="text" data-ng-model="description" id="description" required>
			</div>
		</div>
        <br>
		<div class="control-group">
			<label class="control-label" for="relevantyears" id="relevantyears">Relevant Years</label>
			<div class="controls">
				<select type="string" data-ng-model="relevantyears" required>
					<option value="3rd-4th">3rd-4th</option>
					<option value="5th">5th</option>
				</select>
			</div>
            <br>
            <label class="control-label" for="semester" id="semester">Semester</label>
			<div class="controls">
				<select type="string" data-ng-model="semester" required>
					<option value="Winter">Winter</option>
					<option value="Spring">Spring</option>
				</select>
			</div>
            <br>
            <label class="control-label" for="sylabus">Upload Sylabus</label>
            <div class="controls">
            <input type="file" name = "sylabus" ngf-select ng-model="sylabus">
            </div>
            <!--<form method="post" enctype="multipart/form-data">-->
              <!--<input type="submit" name = "submit" value = "submit">-->
            <!--</form>-->
			<!--<div class="controls">
				<input type="text" data-ng-model="sylabus" id="sylabus" required>
                <form action="demo_form.asp">
                    <input type="file" name="pic" accept="image/*">
                    <input type="submit">
                </form>
			</div>-->
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
			</div>
		</div>
	</form>     
</div>
