<div>
	<br>
		<p style = "font-size:20px">ניהול מידע על קורסי המערכת</p>
       <p>כאן ניתן לנהל את תוכן טופס הגמר של הסטודנטים</p>
		<hr>
</div>

<!--<i class="fa fa-spinner fa-spin fa-3x fa-fw" ng-show = "showcourse == false"></i>-->
<span class="spinner-huge-wave-out" style="float: right;margin-right: 450px" ng-show = "showcourse == false"></span>
<div id = "courses" ng-show = "showcourse == true">
<p class="alert alert-danger text-white" style="font-size:large" ng-show="loaderror == true" >{{"התרחשה שגיאה בשרת."}}</p>
<p class="alert alert-danger text-white" style="font-size:large" ng-show="delerror == true" >{{"התרחשה שגיאה בעת מחיקת קורס"}}</p>
<p class="alert alert-success text-white" style="font-size:large" ng-show="delerror == false" >{{"הקורס נמחק בהצלחה"}}</p>
  <input ng-model = "query" type="text" placeholder="חפש...">

   <table class = "table">
      <thead>
         <tr>
            <th>מזהה קורס</th>
            <th>שם הקורס</th>
            <th>מספר נקודות זיכוי</th>
            <th>סוג</th>
            <th></th>
            <th></th>
         </tr>
      </thead>
     <tbody ng-repeat="course in courses | filter:query | filter:yearFilter | filter:semesterFilter" >
        <tr >
        <td >{{course.Id}}</td>
        <td>{{course.Name}}</td>
        <td>{{course.CreditPoints}}</td>
        <!--<td>{{course.CourseType}}</td>-->
        <td ng-if ="course.CourseType == 'mandatory'">{{"חובה"}}</td>   
        <td ng-if ="course.CourseType == 'mandatory_choice'">{{"בחירה מחייבת"}}</td> 
        <td ng-if ="course.CourseType == 'design_choice'">{{"בחירה - מסלול עיצוב בסיסי"}}</td> 
        <td ng-if ="course.CourseType == 'general_choice'">{{"בחירה"}}</td> 
        <td><a class="btn btn-default btn-sm" ui-sref="editCourse({courseId : course.Id})"><i class="fa fa-pencil"></i> עריכה</a></td>
        <td><a class="btn btn-danger" ng-click=remove(course)><i class="fa fa-trash-o fa-lg"></i> מחיקה</a></td>
        </tr>
     </tbody>
   </table>
</div>

<div ng-show = "showcourse == true">
    <br>
    <p style = "font-size:20px">הוספת קורס חדש למערכת</p>
    <hr>
    <form class="form-horizontal" data-ng-submit="addCourse()">
	<br>
		<div class="control-group">
            <label class=" control-label" style="float: right" for="id">מזהה קורס:</label>
			<div class="controls">
				<input type="number" data-ng-model="id" id="id" required>
			</div>
            <br>
			<label class="control-label" style="float: right" for="name">שם הקורס:</label>
			<div class="controls">
				<input type="text" data-ng-model="name" id="name" required>
			</div>
            <br>
			<label class="control-label" style="float: right" for="creditpoints">נקודות זיכוי:</label>
			<div class="controls">
				<input type="number" data-ng-model="creditpoints" id="creditpoints" required>
			</div>
            <label class="control-label" style="float: right;margin-top: 20px;" for="coursetype" id="coursetype">סוג:</label>
			<div class="controls" style="margin-top: 20px;">
				<select type="string" data-ng-model="coursetype" required>
                   <option value="">בחר\י סוג קורס...</option>
					<option value="mandatory">חובה</option>
					<option value="mandatory_choice">בחירה מחייבת</option>
					<option value="design_choice">בחירה - מסלול עיצוב בסיסי</option>
					<option value="general_choice">בחירה</option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn btn-success" value="שמור">
			</div>
            <br>
            <p class="alert alert-danger text-white" style="font-size:large" ng-show="adderror == true" >{{"התרחשה שגיאה בעת הוספת קורס חדש"}}</p>
            <p class="alert alert-success text-white" style="font-size:large" ng-show="adderror == false" >{{"קורס חדש התווסף בהצלחה"}}</p>
		</div>
	</form>     
</div>