	
<form class="form" ng-show = "RegEmpty == true" data-ng-submit="openRegistration()">
  <br>
    <p style = "font-size:2em" >פתיחת הרשמה</p>
    <hr>
   <p>כרגע אין הרשמות פתוחות...</p>
    <div class="control-group">
      <label class="control-label" for="semester" style="float: right" id="semester">סמסטר</label>
      <div class="controls">
        <select type="string" data-ng-model="semester" required>
          <option value="winter">חורף</option>
          <option value="spring">אביב</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="submit" class="btn btn-success" value="שמור">
      </div>
    </div>
</form>

<!--<i class="fa fa-spinner fa-spin fa-3x fa-fw" ng-show = "showreg != true"></i>-->
<div id = "registrations" ng-show = "RegEmpty == false">
  <div>
    <br>
      <p style = "font-size:2em">ניהול הרשמה</p>
      <hr>
  </div>
  <!--<span class="spinner-huge-wave-out" style="float: right;margin-right: 450px" ng-show = "showuser == false"></span>-->
   <table class = "table">
      <thead>
         <tr>
            <th>תאריך פתיחה</th>
            <th>תאריך סגירה</th>
            <th>סמסטר</th>
            <th> סטאטוס הרשמה</th>
            <th></th>
         </tr>
      </thead>
     <tbody ng-repeat="reg in registrations">
        <tr>
        <td>{{reg.StartDate | date : "dd.MM.y"}}</td>
        <td>{{reg.EndDate | date : "dd.MM.y"}}</td>
        <!--<td>{{reg.Semester}}</td>-->
        <td ng-show="reg.Semester == 'winter'">{{"חורף"}}</td> 
        <td ng-show="reg.Semester == 'spring'">{{"אביב"}}</td> 
        <td ng-show="reg.IsActive == true">{{"פעילה"}}</td> 
        <td ng-show="reg.IsActive ==false">{{"סגורה"}}</td> 

        <td><a class="btn btn-danger" ng-show = "reg.IsActive == true" ng-click=update(reg)><i class="fa fa-trash-o fa-lg"></i> סגירת הרשמה</a></td>
        </tr>
     </tbody>

   </table>

</div>

