<div>
	<br>
		<p style = "font-size:20px">ניהול מידע אודות נושאי סטודיו</p>
		<hr>
</div>

<!--<i class="fa fa-spinner fa-spin fa-3x fa-fw" ng-show = "showsubj == false"></i>-->
<span class="spinner-huge-wave-out" style="float: right;margin-right: 450px" ng-show = "showsubj == false"></span>
<div id = "instructors" ng-show = "showsubj == true">
  <input ng-model = "query" type="text" placeholder="Search...">

   <table class = "table">
      <thead>
         <tr>
            <th>מספר מזהה</th>
            <th>שם הנושא</th>
         </tr>
      </thead>
     <tbody ng-repeat="subject in subjects | filter:query">
        <tr>
        <td>{{subject.id}}</td>
        <td>{{subject.Subject}}</td>
        </tr>
     </tbody>
   </table>
</div>

<div ng-show = "showsubj == true">
    <br>
    <p style = "font-size:20px">הוספת נושא חדש</p>
    <hr>
    <form class="form-horizontal" data-ng-submit="addSubject()">
	<br>
		<div class="control-group">
			<label class="control-label" style="float: right" for="subjectname">שם הנושא</label>
			<div class="controls">
				<input type="text" data-ng-model="subjectname" id="subjectname" required>
			</div>
            <br>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn btn-success" value="שמור">
			</div>
		</div>
	</form>     
</div>
