<div data-ng-init="findAssignments()">
	<br>
		<p style = "font-size:20px">Past Assignments</p>
		<hr>
        <table class = "table">
            <thead>
                <tr>
                <th>Creation Date</th>
                <th>Relavent Years</th>
                <th>Semester</th>
                <th></th>
                <!--<th></th>-->
                </tr>
            </thead>
            <tbody ng-repeat="ass in assignments">
            <tr>
            <td>{{ass.createdAt | date : "dd.MM.y"}}</td>
            <td>{{ass.Year}}</td>
            <td>{{ass.Semester}}</td>
            <td><a class="btn btn-info" ng-click=load(ass)><i class="fa fa-eye"></i> Load</a>
            <a class="btn btn-default btn-sm" ui-sref="editAssignment({assignmentId : ass.id})"><i class="fa fa-pencil"></i> Edit</a></td>
            </tr>
            </tbody>

        </table>
</div>